<section class="section__index">


    <!-- ARTICLE TOP MARKET  -->
    <article class="article__section__index">
        <div class="div__article__titulos">
            <h2 class="titulo__pequeño__article">TOP MARKET</h2>
            <h3 class="titulo__principal__article">Obten cripto con pasos super sencillos!</h3>
        </div>

        <div class="div__img__article" >
            <div class="article__card__cripto">
                <h4>Bitcoin</h4>
                <img src="../../assets/bitcoin-btc-logo.svg" class="logo-cripto">
            </div>
            <div class="article__card__cripto">
                <h4>Theter</h4>
                <img src="../../assets/tether-usdt-logo.svg" class="logo-cripto">
            </div>
            <div class="article__card__cripto">
                <h4>Binance Coin</h4>
                <img src="../../assets/binance-coin-bnb-logo.svg" class="logo-cripto">
            </div>
            <div class="article__card__cripto">
                <h4>Dogecoin</h4>
                <img src="../../assets/dogecoin-doge-logo.svg" class="logo-cripto">
            </div>
        </div>
        <a href="#">Consulta el dashboard</a>
    </article>


    <app-quienes-somos></app-quienes-somos>

    <!-- ARTICLE SOBRE LA APP -->
    <article class="article__index__info">
        <img src="../../assets/logo.png" >
        <div class="div_article_info" >
            <h2>SOBRE LA APP</h2>
            <h3>Algunas de las cosas que podes realizar</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium maiores aperiam aliquam
                rerum tenetur, sunt, dolorum nam facere nulla in, distinctio adipisci nihil maxime dicta vitae ipsum
                tempore ullam.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quod ullam, ducimus esse est natus odio eum
                blanditiis, at similique eaque porro sequi accusamus explicabo reiciendis ab molestiae quidem? Enim!</p>
        </div>
    </article>

    <app-pruebas></app-pruebas>
</section>