<section>
    <app-header></app-header>


    <main class="container">
        <div class="p-4 p-md-5 mb-4  rounded  card-principal">
            
        </div>

        <div class="p-4 p-md-5 mb-4  rounded  card-principal1">
            <div class="col-md-6 px-0">
                <h1 class="display-4">Dai</h1>
                <p class="lead my-3">Informate sobre esta criptomoneda y mantienete actualizado con su cotizacíon en
                    tiempo real</p>
            </div>
            <div class="div-cotizacion">
                <h4>Cotización actual</h4>
                <p><span>$</span>0.9998</p>
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Dai y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            dai?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Dai y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            dai?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Sobre la criptomoneda
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Datos en vivo del precio de DAI</h2>
                    <p class="blog-post-meta">Fecha de hoy actualizada</p>

                    <p>El precio de Dai en vivo hoy es de $0,999907 USD con un volumen de operaciones de 24 horas de $228.820.040 USD.
                    Actualizamos nuestro precio DAI a USD en tiempo real. Dai ha bajado un 0,05% en las últimas 24 horas. El ranking actual
                    de CoinMarketCap es el n. ° 19, con una capitalización de mercado en vivo de $ 9.720.573.958 USD. Tiene un suministro
                    circulante de 9.721.480.069 monedas DAI y el máx. el suministro no está disponible.
                    </p>
                    <hr>







                </article>

                <article class="blog-post">
                    <h2>¿Qué es Dai (DAI)?</h2>
                    <p>DAI es una moneda estable basada en Ethereum (criptomoneda de precio estable) cuya emisión y desarrollo está gestionado
                    por el Protocolo Maker y la organización autónoma descentralizada MakerDAO.
</p>
                    <hr>
                    <p>El precio de DAI está vinculado al dólar estadounidense y está garantizado por una combinación de otras criptomonedas
                    que se depositan en bóvedas de contratos inteligentes cada vez que se acuña un nuevo DAI.
</p>
                    <hr>
                    <p>Es importante diferenciar entre Multi-Collateral DAI y Single-Collateral DAI (SAI), una versión anterior del token que
                    solo podía ser garantizado por una sola criptomoneda; SAI tampoco es compatible con la tasa de ahorro de DAI, que
                    permite a los usuarios obtener ahorros al tener tokens de DAI.
</p>
                    <hr>

                </article>

                <article class="blog-post">
                    <h2>¿Quiénes son los fundadores de DAI?</h2>
                    <p>Una de las características definitorias de DAI es que no fue creado por una sola persona o un pequeño grupo de
                    cofundadores. En cambio, el desarrollo del software que lo impulsa y la emisión de nuevos tokens se rige por MakerDAO y
                    Maker Protocol.</p>
                    <hr>
                    <p>MakerDAO es una organización autónoma descentralizada , un tipo de empresa que se gestiona a sí misma de forma
                    descentralizada mediante el uso de contratos inteligentes, acuerdos de cumplimiento automático expresados ​​en código de
                    software y ejecutados en la cadena de bloques de Ethereum .</p>
                    <hr>
                    <p>Esta organización es administrada democráticamente por los titulares de sus tokens de gobierno Maker (MKR), que actúan
                    de manera similar a las acciones de una empresa tradicional; Los titulares de MKR pueden votar sobre decisiones clave
                    relacionadas con el desarrollo de MakerDAO, Maker Protocol y DAI, y su poder de voto es proporcional a la cantidad de
                    tokens de Maker que poseen.</p>
                    <hr>
                    <p>MakerDAO en sí mismo fue fundado originalmente por un empresario danés Rune Christensen en 2015. Antes de comenzar a
                    trabajar en el ecosistema Maker, Christensen estudió bioquímica y negocios internacionales en Copenhague y fundó la
                    firma de reclutamiento internacional Try China.</p>
                    <hr>

                    <h2>¿Cómo generar Dai?</h2>
                    <p>Dai es la segunda moneda estable descentralizada más grande por capitalización de mercado , y recientemente fue cambiada
                    por la moneda estable nativa de Terra: UST . Ambos están respaldados por criptomonedas y vinculados al dólar, mientras
                    que las principales monedas estables como USDT , USDC y BUSD están respaldadas por activos tradicionales como efectivo,
                    bonos corporativos, bonos del Tesoro de EE. UU. y papeles comerciales (que han sido objeto de un mayor escrutinio ).en
                    el caso de USDT). Entonces, ¿qué es exactamente lo que respalda a Dai? La moneda estable Dai es una criptomoneda basada
                    en garantías vinculada al dólar estadounidense. Los usuarios generan Dai depositando activos criptográficos en Maker
                    Vaults en el Protocolo Maker. Los usuarios pueden acceder a Maker Protocol y crear Vaults a través de Oasis Borrow u
                    otras interfaces creadas por la comunidad. En Oasis Borrow , los usuarios pueden bloquear garantías como ETH , WBTC ,
                    LINK , UNI , YFI , MANA , MATIC y más. Luego, los usuarios pueden pedir prestado contra su garantía en Dai, siempre que
                    esté dentro del índice de garantía, que oscila entre 101% y 175%, según el nivel de riesgo del activo bloqueado.</p>
                    <hr>

                    <h2>¿Qué hace que DAI sea único?</h2>
                    <p>La principal ventaja de DAI radica en su paridad blanda con el precio del dólar estadounidense.
                    
                    El criptomercado es conocido por su volatilidad, incluso las monedas más grandes y altamente líquidas , como Bitcoin , a
                    veces experimentan cambios de precio (tanto hacia arriba como hacia abajo) del 10 % o más en un solo día. En estas
                    circunstancias, los comerciantes e inversores están naturalmente predispuestos a agregar activos de refugio seguro a sus
                    carteras, cuyo precio estable podría ayudar a compensar las fluctuaciones significativas del mercado.</p>
                    <p>Uno de esos tipos de activos son las monedas estables, de las cuales DAI es un ejemplo. Estas son criptomonedas cuyo
                    precio está vinculado a activos con un valor relativamente estable, más comúnmente monedas fiduciarias tradicionales,
                    como USD o EUR.</p>
                    <p>Otra ventaja clave de DAI es el hecho de que no es administrado por una empresa privada, sino por una organización
                    autónoma descentralizada a través de un protocolo de software. Como resultado, todos los casos de emisión y quema de
                    tokens se gestionan y registran públicamente mediante contratos inteligentes autoejecutables impulsados ​​por Ethereum,
                    lo que hace que todo el sistema sea más transparente y menos propenso a la corrupción.</p>
                    <hr>
                    <h2>¿Cuántas monedas DAI [DAI] hay en circulación?</h2>
                    <p>Los nuevos tokens DAI no se producen mediante minería como Bitcoin ( BTC ) y Ethereum ( ETH ), ni los acuña una empresa
                    privada según su propia política de emisión como Tether ( USDT ). En cambio, cualquier usuario puede acuñar un nuevo DAI
                    mediante el uso del Protocolo Maker.</p>
                    <p>Maker Protocol, que se ejecuta en la cadena de bloques Ethereum, es el software que rige la emisión de DAI. Con el fin
                    de mantener el precio fijo fijo al dólar estadounidense, Maker Protocol garantiza que cada token DAI esté garantizado
                    por una cantidad adecuada de otras criptomonedas. Como parte de este proceso, el Protocolo permite a cualquier usuario
                    depositar su criptografía en la llamada bóveda, un contrato inteligente en la cadena de bloques de Ethereum, como
                    garantía y acuñar una cantidad correspondiente de nuevos tokens DAI.</p>
                    <p>No hay un límite superior en el suministro total de DAI: el suministro es dinámico y depende de la cantidad de garantía
                    almacenada en las bóvedas en un momento dado. A noviembre de 2020, hay alrededor de 940 millones de DAI en circulación.</p>
                    <hr>
                    <h2>¿Cómo se asegura la red DAI?</h2>
                    <p>DAI es un token compatible con ERC-20 basado en Ethereum. Como tal, está protegido por el algoritmo Ethash de Ethereum.</p>
                </article>

            </div>
            <!-- ====================================== -->

            <!-- AQUI ESTA LA PARTE DEL ASIDE -->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 card-mundo-cripto rounded">
                        <h4 class="fst-italic">Mundo Cripto</h4>
                        <p class="mb-0">Para acceder a las paginas con información del resto de criptomonedas que se
                            manejan en Cata Exchange, le invito a consultar el apartado de "Nombre del apartado ya sea
                            dashboard, swap, etc"</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Estadisticas - DAI</h4>
                        <ol class="list-unstyled mb-0">
                            <li> Precio:<span class="span-info-aside"> $40,000</span> </li>
                            <li>Ult 24hs:<span class="span-info-aside"> -3.35%</span> </li>
                            <li>Market rank:<span class="span-info-aside"> #1</span> </li>
                            <li>Volume market cap:<span class="span-info-aside"> 0.02791</span> </li>
                            <li>Maximo historico:<span class="span-info-aside"> $68,789 (hace 4 meses)</span> </li>
                            <li>Minimo historico:<span class="span-info-aside"> $65.53 (hace 9 años)</span> </li>
                            <li>Total suply:<span class="span-info-aside"> 18.975.218 BTC</span> </li>
                            <li>Max suply:<span class="span-info-aside"> 21.000.000 BTC</span> </li>

                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Información proporcionada por:</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Coinmarketcap</a></li>
                            <li><a href="#">Pag de info</a></li>
                            <li><a href="#">Pag de info</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>

<app-footer></app-footer>