.btc-img-index {
    width: 800px;
    
}

.main__index {
    height: 80vh;
    background-color: var(--nuevo-fondo-body);
    color: var(--nuevo-texto);
	padding-top: 3rem;
}

.btn-inicar {
    background-color: var(--lightblue);
    color: var(--nuevo-texto);
}

.btn-registrar {
    background-color: var(--nuevo-oscuro);
    color: var(--texto-resalta);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: #f5f5f5;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  
  .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .form-signin input[type="password"] {
      margin-bottom: -1px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
 
    /* ============ VENTANA POP UP DEL LOG IN =========== */

.divInicioSesion {
	background: rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 9;
}

.divInicioSesion.active {
	visibility: visible;
}

.divInicioSesion1 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.divInicioSesion1 .btnCerrarVentana {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.divInicioSesion1 .btnCerrarVentana:hover {
	color: #000;
}

.divInicioSesion1.active {	
    transform: scale(1); opacity: 1; 
}

 /* ========= HASTA AQUI LA VENTANA DEL LOG IN */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #f5f5f5;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .checkbox {
  font-weight: 400;
}


.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signin input[type="number"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signin input[type="date"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


  /* ============ VENTANA POP UP DEL REGISTRO =========== */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #f5f5f5;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .checkbox {
  font-weight: 400;
}


.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signin input[type="number"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-signin input[type="date"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


  /* ============ VENTANA POP UP DEL REGISTRO =========== */

.divRegistro {
	background: rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 9;
}

.divRegistro.active {
	visibility: visible;
	z-index: 999;
}

.divRegistro1 {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	height:70vh;
	overflow:scroll;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.divRegistro1 .btnCerrarVentana {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.divRegistro1 .btnCerrarVentana:hover {
	color: #000;
}

.divRegistro1.active {	
    transform: scale(1); opacity: 1; 
}

 /* ========= HASTA AQUI LA VENTANA DEL REGISTRO */








































/* Phone landscape + portrait (iphone x) */
@media (min-width: 321px) and (max-width: 480px) {
	.btc-img-index {
    margin: 0 0 0 2rem;
	}

	.div-main-texto {
		margin: 3rem 0 0 0;
	}

	.divInicioSesion1 {
		width: 90%;
	}



}

/* Small tablet portrait con aprox 800 de Height */
@media (min-width: 481px) and (max-width: 600px) {
	.btc-img-index {
    margin: 0 0 0 2rem;
	}

	.div-main-texto {
		margin: 3rem 0 0 0;
	}


	.divInicioSesion1 {
		width: 90%;
	}

}


/* // Large tablet portrait (ipad) */
@media (min-width: 601px) and (max-width: 768px) {
	.btc-img-index {
    margin: 0 0 0 5rem;
	}

	.div-main-texto {
		margin: 3rem 0 0 0;
	}

	.div-main-texto h1 {
		font-size: 3rem;
	}

	.div-main-texto p {
		font-size: 2rem;
	}

	.divInicioSesion1 {
		width: 90%;
	}

	.div-botones {
		justify-content: space-evenly;
		align-items: center;
		margin: 4rem 0 0 0;
	}

	.btn-inicar , .btn-registrar {
		transform: scale(1.5);
	}
}


/* // Notebook - Tablet Landscape + (ipad pro con aprox 1366 de H) */
@media (min-width: 769px) and (max-width: 1024px) {
	.btc-img-index {
    margin: 0 0 0 5rem;
	}

	.div-main-texto {
		margin: 3rem 0 0 0;
	}

	.div-main-texto h1 {
		font-size: 3rem;
		margin-bottom: 5rem;
	}

	.div-main-texto p {
		font-size: 2rem;
		margin-bottom: 5rem;
		margin-top: 5rem;
	}

	.divInicioSesion1 {
		width: 90%;
	}

	.div-botones {
		flex-direction: column;
	}

	.btn-inicar , .btn-registrar {
		margin-right: 2rem;
		font-size: 2rem;
	}
}