<div [class]="divInicioSesion" class="divInicioSesion" id="divInicioSesion">
    <div [class]="divInicioSesion1" class="divInicioSesion1" id="divInicioSesion1">
        <a href="#" id="btnCerrarVentana" class="btnCerrarVentana" (click)="cerrarPopup()"><i class="fas fa-times"></i></a>
        <main class="form-signin">
            <form>
                <img class="mb-4" src="../assets/logo.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal">Inicia Sesión</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Recordar Contraseña
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        </main>
    </div>
</div>

<main class="main__index">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/criptomomnedas.png" class="d-block btc-img-index mx-lg-auto img-fluid"
                    alt="Bootstrap Themes" loading="lazy">
            </div>
            <div class="col-lg-6 div-main-texto">
                <h1 class="display-5 fw-bold lh-1 mb-3">Maneja tus cripto facilmente</h1>
                <p class="lead">Comienza a manejar tus cripto con facilidad. Realiza compras, ventas, trade, todo en una
                    sola aplicación!</p>
                <div class="d-grid gap-2 d-md-flex div-botones">
                    <button type="button" class="btn btn-inicar btn-lg btnIniciaSesion" id="btnIniciaSesion" 
                    (click)="iniciaPopup()">Iniciar sesión</button>
                    <button type="button" class="btn  btn-registrar btn-lg">Registrarse</button>
                </div>
            </div>
        </div>
    </div>

    

</main>

