<main>
            <h1 class="visually-hidden">Heroes examples</h1>
        
            <div class="px-4 py-5 text-light my-5 text-center ">
                <img class="d-block mx-auto mb-4" src="../../assets/1640751338893.png" alt="" width="290" height="250">
                <h1 class="display-5 fw-bold">Cata Exchange</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Cata exchange nace en la provincia de Catamarca, Argentina Lorem ipsum dolor sit, amet consectetur adipisicing elit. At dignissimos excepturi reiciendis ad atque, fugit inventore illum earum modi.</p>
                    <p>¿Ya tenes tu cuenta?</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">


<!-- BOTON DE INICIO DE SESION -->

                        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Registrate</button>
                        <button type="button" action="" class="btnIniciaSesion btn btn-outline-secondary btn-lg px-4" id="btnLoginMain">Inicia Sesión</button>
                    </div> 
                </div>
            </div>
        </main>




        <div class="container-fluid text-light px-4 py-5 fondo-inicio" id="hanging-icons">
                <h2 class="pb-2 border-bottom">En Cata exchange podes...</h2>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col d-flex align-items-start">
                        <div class=" text-dark flex-shrink-0 me-3">
                            <i class="fas fa-money-check-alt"></i>
                        </div>
                        <div>
                            <h2>Depositar pesos</h2>
                            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                                and probably just keep going until we run out of words.</p>
                            <a href="#" class="btn btn-primary">
                                Ver más
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div class="icon-square  text-dark flex-shrink-0 me-3">
                            <i class="fab fa-btc"></i>
                        </div>
                        <div>
                            <h2>Comprar cripto</h2>
                            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                                and probably just keep going until we run out of words.</p>
                            <a href="#" class="btn btn-primary">
                                Ver más
                            </a>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div class="text-dark flex-shrink-0 me-3">
                            <i class="fas fa-info-circle"></i>
                        </div>
                        <div>
                            <h2>Informarte</h2>
                            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                                and probably just keep going until we run out of words.</p>
                            <a href="#" class="btn btn-primary">
                                Ver más
                            </a>
                        </div>
                    </div>
                </div>
            </div>


