<!-- DIV HIDDEN INICIO SESION -->
<div [class]="divInicioSesion" class="divInicioSesion" id="divInicioSesion">
  <div [class]="divInicioSesion1" class="divInicioSesion1" id="divInicioSesion1">
      <a href="#" id="btnCerrarVentana" class="btnCerrarVentana" (click)="cerrarPopup()"><i class="fas fa-times"></i></a>
      <main class="form-signin">
        <form [formGroup]="formLog" (ngSubmit)="onEnviarLog($event)" class="form-signin">
            <img class="mb-4" src="../assets/logo.png" alt="" width="72" height="57">
            <h1 class="text-center">Inicia Sesión</h1>

          
                <div class="form-floating mb-3 mt-3">
                      <input type="email" formControlName="emailLog" class="form-control" [class.border-danger]="EmailLogValid" id="floatingEmailLog" placeholder="">
                      <label for="floatingEmailLog">Email</label>
                      <div *ngIf="EmailLog?.errors && EmailLog?.touched || EmailLog?.dirty">
                          <p *ngIf="EmailLog?.hasError('required')" class="text-danger">
                            Campo obligatorio.
                          </p>
                      </div>
                </div>
          
          <div class="form-floating mb-3 mt-3">
                <input type="password" formControlName="contraseñaLog" minlength="8" maxlength="16" [class.border-danger]="ContraseniaLogValid" class="form-control" id="floatingContraseñaLog" placeholder=""> <!---nombre del objeto en forcontrolname-->
                <label for="floatingContraseñaLog">Contraseña</label>
                <div *ngIf="ContraseniaLog?.errors && ContraseniaLog?.touched || ContraseniaLog?.dirty">
                  <p *ngIf="ContraseniaLog?.hasError('required')" class="text-danger">
                      Campo obligatorio.
                  </p>
                </div>
          </div>
          
          
              <button class="btn-enviar" class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button> 
        </form>
      </main>
  </div>
</div>  



<!-- ============================================== -->
<!-- ============================================== -->
<!-- ============================================== -->
<!-- DIV HIDDEN REGISTRO -->
<div [class]="divRegistro" class="divRegistro" id="divRegistro">
    <div [class]="divRegistro1" class="divRegistro1" id="divRegistro1">
        <a href="#" id="btnCerrarVentana" class="btnCerrarVentana sticky-top" (click)="cerrarPopup1()"><i class="fas fa-times"></i></a>
        <main class="form-signin">
            
          <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="form-signin">
            <img class="mb-4" src="../assets/logo.png" alt="" width="72" height="57">
            <h1 class="text-center">Registrate</h1>

            <div class="container">
              <div class="row">
                <div class="col">
            <div class="form-floating  mb-3 mt-3" >
              <input type="text" formControlName="nombre"  name="nombre" class="form-control" [class.border-danger]="NombreValid" id="floatingName" placeholder="">
              <label for="floatingName">Nombre</label>
              <div *ngIf="Nombre?.errors && Nombre?.touched || Nombre?.dirty">
                <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                  Campo obligatorio.
                </p>
                <p *ngIf="Nombre?.hasError('minlength')" class="text-danger">
                El nombre debe tener como mínimo 4 letras.
                </p>
                <p *ngIf="Nombre?.hasError('pattern')" class="text-danger">
                  Nombre inválido (Sólo debe contener letras).
                </p>
              </div>
            </div>
            </div>

         
              <div class="col">
            <div class="form-floating  mb-3 mt-3">
              <input type="text" formControlName="apellido" name="apellido" class="form-control" [class.border-danger]="ApellidoValid" id="floatingApellido" placeholder=""> <!--nombre del objeto en forcontrolname-->
              <label for="floatingApellido">Apellido</label>
              <div *ngIf="Apellido?.errors && Apellido?.touched || Apellido?.dirty">
                <p *ngIf="Apellido?.hasError('required')" class="text-danger">
                    Campo obligatorio.
                </p>
                <p *ngIf="Apellido?.hasError('minlength')" class="text-danger">
                  El apellido debe tener como minimo 3 letras.
                </p>
                <p *ngIf="Apellido?.hasError('pattern')" class="text-danger">
                  Apellido inválido (Sólo debe contener letras).
                </p>
              </div>
            </div>
              </div>
              </div>

              <div class="row">
                <div class="col">
            <div class="form-floating  mb-3 mt-3">
              <input type="number" formControlName="dni" name="dni" class="form-control" [class.border-danger]="DniValid" id="floatingDni" placeholder=""> <!---nombre del objeto en forcontrolname-->
              <label for="floatingDni">DNI</label>
              <div *ngIf="Dni?.errors && Dni?.touched || Dni?.dirty">
                <p *ngIf="Dni?.hasError('required')" class="text-danger">
                    Campo obligatorio.
                </p>
              </div>
            </div>
                </div>

                
                  <div class="col">
            <div class="form-floating mb-3 mt-3">
              <input type="date" formControlName="fecha" name="fecha" class="form-control" [class.border-danger]="FechaValid" id="floatingFecha" placeholder="">
              <label for="floatingFecha">Fecha de Nacimiento</label>
              <div *ngIf="Fecha?.errors && Fecha?.touched || Fecha?.dirty">
                <p *ngIf="Fecha?.hasError('required')" class="text-danger">
                    Campo obligatorio.
                </p>
                <p *ngIf="!Fecha?.hasError('required') && Fecha?.hasError('valuesIsYoung')" class="text-danger">
                  Debe ser mayor edad para registrarse en la plataforma.
              </p>
              </div>
            </div>
                  </div>
              </div>

              <div class="row">
                <div class="col">
                <div class="form-floating mb-3 mt-3">
                  <input type="email" formControlName="email" name="email" class="form-control" [class.border-danger]="EmailValid" id="floatingEmail" placeholder="">
                  <label for="floatingEmail">Email</label>
                  <div *ngIf="Email?.errors && Email?.touched || Email?.dirty">
                      <p *ngIf="Email?.hasError('required')" class="text-danger">
                        Campo obligatorio.
                      </p>
                      <p *ngIf="Email?.hasError('pattern')" class="text-danger">
                          Debe ingresar un email válido.
                      </p>
                  </div>
                </div>
                </div>

                
                  <div class="col">
            <div class="form-floating mb-3 mt-3">
                  <input type="password" formControlName="contraseña" name="contraseña" minlength="8" maxlength="16" [class.border-danger]="ContraseniaValid" class="form-control" id="floatingContraseña" placeholder=""> <!---nombre del objeto en forcontrolname-->
                  <label for="floatingContraseña">Contraseña</label>
                  <div *ngIf="Contrasenia?.errors && Contrasenia?.touched || Contrasenia?.dirty">
                    <p *ngIf="Contrasenia?.hasError('required')" class="text-danger">
                        Campo obligatorio.
                    </p>
                    <p *ngIf="Contrasenia?.hasError('minlength')" class="text-danger">
                      La contraseña debe tener como minimo ocho caracteres.
                    </p>
                    <p *ngIf="Contrasenia?.hasError('maxlength')" class="text-danger">
                      La contraseña debe tener como máximo quince caracteres.
                    </p>
                    <p *ngIf="Contrasenia?.hasError('pattern')" class="text-danger">
                      La contraseña puede contener letras, números, guión medio y guión bajo.
                    </p>
                  </div>
            </div>
                  </div>
                  </div>

              <div class="row">
                <div class="col">
            <div class="form-floating mb-3 mt-3">
                  <input type="password" formControlName="contraseñaRepetida" name="contraseñaRepetida" [class.border-danger]="ContraseniaRepetidaValid" class="form-control" id="floatingContraseñaRepetida" placeholder=""> <!---nombre del objeto en forcontrolname-->
                  <label for="floatingContraseñaRepetida">Repetir contraseña</label>
                  <div *ngIf="ContraseniaRepetida?.errors && ContraseniaRepetida?.touched || ContraseniaRepetida?.dirty">
                    <p *ngIf="ContraseniaRepetida?.hasError('required')" class="text-danger">
                        Campo obligatorio.
                    </p>
                    <p *ngIf="ContraseniaRepetida?.hasError('valuesContrasenias')" class="text-danger">
                      Las contraseñas deben ser iguales.
                  </p>
                  </div>
            </div>
                </div>



               <div class="col">
              <p class="aceptCond">
                <input type="checkbox" value="" formControlName="terminosCondiciones" name="terminosCondiciones"> Acepto los términos y condiciones.
              </p>
              <div *ngIf="TerminosCondiciones?.errors && TerminosCondiciones?.touched || TerminosCondiciones?.dirty">
                <p *ngIf="TerminosCondiciones?.hasError('required')" class="text-danger">
                    Campo obligatorio.
                </p>
              </div>
            </div>
          </div>

              <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button> 
            </div>
          </form>
        </main>
    </div>
</div>



<!-- ============================================== -->
<!-- ============================================== -->
<!-- ============================================== -->
<!-- ============================================== -->
<!-- ============================================== -->
<!-- ============================================== -->

<!-- MAIN VISIBLE CONTENEDOR DE LOS BOTONES -->
<main class="main__index">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/criptomomnedas.png" class="d-block btc-img-index mx-lg-auto img-fluid"
                    alt="Bootstrap Themes" loading="lazy">
            </div>
            <div class="col-lg-6 div-main-texto">
                <h1 class="display-5 fw-bold lh-1 mb-3">Maneja tus cripto facilmente</h1>
                <p class="lead">Comienza a manejar tus cripto con facilidad. Realiza compras, ventas, trade, todo en una
                    sola aplicación!</p>
                <div class="d-grid gap-2 d-md-flex div-botones">
                    <button type="button" class="btn btn-inicar btn-lg btnIniciaSesion" id="btnIniciaSesion" 
                    (click)="iniciaPopup()">Iniciar sesión</button>
                    <button type="button" class="btn  btn-registrar btn-lg" (click)="registroPopup()">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
</main>

