<section>
    <app-navbar-lateral></app-navbar-lateral>


    <main class="container">
        <div class="p-4 p-md-5 mb-4  rounded  card-principal">
            <div class="col-md-6 px-0">
                <h1 class="display-4">Cardano</h1>
                <p class="lead my-3">Informate sobre esta criptomoneda y mantienete actualizado con su cotizacíon en
                    tiempo real</p>
            </div>
            <div class="div-cotizacion">
                <h4>Cotización actual</h4>
                <p><span>$</span>0.8361</p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Cardano y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            cardano?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Cardano y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            cardano?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Sobre la criptomoneda
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Datos en vivo del precio de ADA</h2>
                    <p class="blog-post-meta">Fecha de hoy actualizada</p>

                    <p>El precio de Cardano en vivo hoy es de $0,831826 USD con un volumen de operaciones de 24 horas de $614,412,936 USD.
                    Actualizamos nuestro precio de ADA a USD en tiempo real. Cardano ha bajado un 4,54% en las últimas 24 horas. El ranking
                    actual de CoinMarketCap es el #8, con una capitalización de mercado en vivo de $28.011.312.350 USD. Tiene un suministro
                    circulante de 33.674.480.268 monedas ADA y un máx. suministro de 45.000.000.000 monedas ADA.</p>
                    <hr>







                </article>

                <article class="blog-post">
                    <h2>¿Qué es Cardano (ADA)?</h2>
                    <p>Cardano es una plataforma de cadena de bloques de prueba de participación que dice que su objetivo es permitir que los
                    "agentes de cambio, innovadores y visionarios" generen un cambio global positivo.</p>
                    <hr>
                    <p>El proyecto de código abierto también tiene como objetivo "redistribuir el poder de las estructuras que no rinden
                    cuentas a los márgenes de los individuos", ayudando a crear una sociedad que sea más segura, transparente y justa.</p>
                    <hr>
                    <p>Cardano se fundó en 2017 y lleva el nombre del erudito italiano del siglo XVI Gerolamo Cardano. El token ADA nativo toma
                    su nombre de la matemática del siglo XIX Ada Lovelace, ampliamente considerada como la primera programadora de
                    computadoras del mundo. El token ADA está diseñado para garantizar que los propietarios puedan participar en la
                    operación de la red. Debido a esto, quienes poseen la criptomoneda tienen derecho a votar sobre cualquier cambio
                    propuesto en el software.</p>
                    <hr>
                    <p>El equipo detrás de la cadena de bloques en capas dice que ya ha habido algunos casos de uso convincentes para su
                    tecnología, cuyo objetivo es permitir el desarrollo de aplicaciones descentralizadas y contratos inteligentes con
                    modularidad.</p>
                    <hr>
                    <p>En agosto de 2021, Charles Hoskinson anunció el lanzamiento de la bifurcación dura Alonzo, lo que provocó que el precio
                    de Cardano aumentara un 116 % en el mes siguiente. El 12 de septiembre de 2021, se lanzó oficialmente la bifurcación
                    dura Cardano ' Alonzo ' , que trae la funcionalidad de contrato inteligente a la cadena de bloques. Se implementaron más
                    de 100 contratos inteligentes en las siguientes 24 horas después del lanzamiento.</p>
                    <hr>
                    <p>Las empresas agrícolas utilizan Cardano para realizar un seguimiento de los productos frescos desde el campo hasta el
                    tenedor, mientras que otros productos creados en la plataforma permiten que las credenciales educativas se almacenen a
                    prueba de manipulaciones y que los minoristas tomen medidas drásticas contra los productos falsificados.</p>
                    <hr>
                </article>

                <article class="blog-post">
                    <h2>¿Quiénes son los fundadores de Cardano?</h2>
                    <p>Cardano fue fundado por Charles Hoskinson, quien también fue uno de los cofundadores de la red Ethereum. Es el CEO de
                    IOHK, la empresa que construyó la cadena de bloques de Cardano.</p>
                    <hr>
                    <p>En una entrevista para la serie Crypto Titans de CoinMarketCap , Hoskinson dijo que se involucró en las criptomonedas en
                    2011 e incursionó en la minería y el comercio. Explicó que su primera participación profesional en la industria llegó en
                    2013, cuando creó un curso sobre Bitcoin que terminó siendo tomado por 80.000 estudiantes.</p>
                    <hr>
                    <p>Además de emprendedor tecnológico, Hoskinson también es matemático. En 2020, su empresa de tecnología donó ADA por un
                    valor de $500 000 al Laboratorio de Investigación y Desarrollo de Blockchain de la Universidad de Wyoming.</p>
                    <hr>


                    <h2>¿Qué hace único a Cardano?</h2>
                    <p>Cardano es una de las cadenas de bloques más grandes que utiliza con éxito un mecanismo de consenso de prueba de
                    participación, que consume menos energía que el algoritmo de prueba de trabajo en el que se basa Bitcoin. Aunque
                    Ethereum, mucho más grande, se actualizará a PoS, esta transición solo se llevará a cabo gradualmente.
</p>
                    <p>El proyecto se enorgullece de garantizar que toda la tecnología desarrollada pase por un proceso de investigación
                    revisado por pares, lo que significa que las ideas audaces pueden cuestionarse antes de validarse. Según el equipo de
                    Cardano, este rigor académico ayuda a que la cadena de bloques sea duradera y estable, lo que aumenta la posibilidad de
                    que se puedan anticipar los peligros potenciales.
</p>
                    <p>En 2020, Cardano realizó una actualización de Shelley que tenía como objetivo hacer que su cadena de bloques fuera
                    "entre 50 y 100 veces más descentralizada" que otras grandes cadenas de bloques. En ese momento, Hoskinson predijo que
                    esto allanaría el camino para que cientos de activos se ejecutaran en su red.
</p>
                    <p>El lanzamiento de la bifurcación dura Alonzo en septiembre de 2021 pondrá fin a la era Shelley y marcará el comienzo de
                    la fase Goguen. Los usuarios pueden desarrollar e implementar contratos inteligentes en Cardano, lo que permite que se
                    construyan aplicaciones descentralizadas nativas (DApps) en blockchain. El precio de Cardano superó la marca de $3 y
                    alcanzó un máximo histórico de $3,101 el 2 de septiembre de 2021, antes del lanzamiento.
</p>
                    <hr>


                    <h2>¿Cuántas monedas Cardano (ADA) hay en circulación?
</h2>
                    <p>Hay un suministro máximo de 45 mil millones de ADA, pero al momento de escribir este artículo, había un suministro
                    circulante de alrededor de 31 mil millones. Se llevaron a cabo cinco rondas de ventas públicas de tokens de Cardano
                    entre septiembre de 2015 y enero de 2017. El precio de Cardano durante su venta previa al lanzamiento fue de $ 0.0024,
                    lo que representa un retorno de más de 1000x, dado el precio de Cardano ahora.
</p>
                    <p>Se asignaron aproximadamente 2.500 millones de ADA a IOHK una vez que se lanzó la red. Mientras tanto, se otorgaron
                    2.100 millones de ADA adicionales a Emurgo, una empresa global de tecnología de cadena de bloques que sirvió como
                    entidad fundadora del protocolo Cardano. Por último, pero no menos importante, se entregaron 648 millones de ADA a la
                    Fundación Cardano sin fines de lucro, cuyo objetivo es promover la plataforma y aumentar los niveles de adopción.
</p>
                    <p>En general, alrededor del 16 % del suministro total de ADA se destinó a los fundadores del proyecto, y el 84 % restante
                    se dividió entre los inversores.
</p>
                    <hr>


                    <h2>¿Cómo se asegura la red de Cardano?
</h2>
                    <p>Cardano está protegido a través de un protocolo PoS "ambientalmente sostenible y verificablemente seguro" que se conoce
                    como Ouroboros.
</p>
                    <p>El proyecto dice que Ouroboros mejora las garantías de seguridad que brinda un mecanismo de consenso PoW mientras usa
                    sustancialmente menos energía, afirmando que es cuatro veces más eficiente energéticamente que Bitcoin.
</p>
                    <p>Se describe como una combinación de tecnología única y mecanismos verificados matemáticamente, con psicología del
                    comportamiento y filosofía económica incluidas en buena medida. En general, el objetivo de Ouroboros es lograr un
                    crecimiento sostenible y ético. Un mecanismo de incentivos significa que los participantes en la red son recompensados ​​por su participación.

</p>
                    <hr>


                    <h2>¿Qué es la actualización Alonzo de Cardano?
</h2>
                    <p>El 12 de septiembre, Cardano lanzó su muy esperada actualización Alonzo. Tras la actualización, la red blockchain ahora
                    puede admitir una amplia gama de aplicaciones criptográficas, incluidos tokens no fungibles (NFT) y contratos
                    inteligentes.
</p>
                    <p>Según el fundador del proyecto, Charles Hoskinson, Alonzo tiene como objetivo introducir la "programabilidad" en la red.
                    Comparó la actualización con la introducción de JavaScript en los navegadores web y la transición de páginas web
                    estáticas a Facebook y YouTube.
</p>
                    <p>Alonzo lleva el nombre del matemático estadounidense Alonzo Church, considerado uno de los padres fundadores de la
                    informática.
                    
                    Además de admitir NFT y contratos inteligentes, Cardano ahora se puede usar para intercambios descentralizados.</p>
                    <p>En general, Alonzo coloca a Cardano en la misma clase que Ethereum, la cadena de bloques líder en el mundo que admite
                    otras aplicaciones además de su token Ether nativo. Los contratos inteligentes, por ejemplo, son una de las piedras
                    angulares del sector financiero descentralizado, y Cardano ahora admite contratos inteligentes.
</p>
                    <p>En febrero de 2022, la cantidad de billeteras Cardano superó el hito de los tres millones. Desde diciembre de 2020, ha
                    aumentado un 1200 %, de 190 000 a más de 3 000 000. Esto coincidió con un aumento en los contratos inteligentes luego de
                    la actualización de Alonzo, y Cardano superó el hito de 1000 contratos inteligentes el 27 de enero de 2022.
</p>
                    <p>Otro indicador del crecimiento explosivo del ecosistema es la actividad de los desarrolladores: Cardano se jactó de que
                    la mayoría de los desarrolladores contribuyeron a su Github, superando a las cadenas de bloques más desarrolladas como
                    Solana . En promedio, más de 50 contribuciones se envían a su reporte por día.
</p>
                    <p>Sin embargo, la red todavía tiene dificultades para implementar sus contratos inteligentes y los usuarios se quejaron de
                    un lanzamiento lento de su intercambio descentralizado SundaeSwap en enero de 2022.
</p>
                    <hr>
                </article>





            </div>
            <!-- ====================================== -->

            <!-- AQUI ESTA LA PARTE DEL ASIDE -->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 card-mundo-cripto rounded">
                        <h4 class="fst-italic">Mundo Cripto</h4>
                        <p class="mb-0">Para acceder a las paginas con información del resto de criptomonedas que se
                            manejan en Cata Exchange, le invito a consultar el apartado de "Nombre del apartado ya sea
                            dashboard, swap, etc"</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Estadisticas - ADA</h4>
                        <ol class="list-unstyled mb-0">
                            <li> Precio:<span class="span-info-aside"> $40,000</span> </li>
                            <li>Ult 24hs:<span class="span-info-aside"> -3.35%</span> </li>
                            <li>Market rank:<span class="span-info-aside"> #1</span> </li>
                            <li>Volume market cap:<span class="span-info-aside"> 0.02791</span> </li>
                            <li>Maximo historico:<span class="span-info-aside"> $68,789 (hace 4 meses)</span> </li>
                            <li>Minimo historico:<span class="span-info-aside"> $65.53 (hace 9 años)</span> </li>
                            <li>Total suply:<span class="span-info-aside"> 18.975.218 BTC</span> </li>
                            <li>Max suply:<span class="span-info-aside"> 21.000.000 BTC</span> </li>

                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Información proporcionada por:</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Coinmarketcap</a></li>
                            <li><a href="#">Pag de info</a></li>
                            <li><a href="#">Pag de info</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>

<app-footer></app-footer>