<header>
        <nav class="navbar">
            <div class="nav__container">
                <div class="titulo__img">
                    <img src="../../assets/logo.png">
                    <h1>CataExchange</h1>
        
                </div>
        
                <div class="nav__menu">
                    <a [routerLink]="['']" class="nav__item">Inicio</a>
                    <a [routerLink]="['dashboard']" class="nav__item">Dashboard</a>
                    <a [routerLink]="['swap']" class="nav__item">Swap/Trade</a>
                    <a [routerLink]="['billetera']" class="nav__item">Wallet</a>
                    <a href="#" class="nav__item">Sobre nosotros</a>
                </div>
            </div>
        </nav>
</header>

