:root {
    --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
    --gradiente-nuevo: linear-gradient(85deg, #007ad8, #004F8A);
    --lightblue: #004F8A;
    --texto-resalta:#989dff;
    --purple: purple;
    --text-color: #f8f9fc;
    --fondo-body: #1a1b3f;
    --fondo-oscuro:#0e0c2d;
    --fondo-claro: #43456d;
}

section {
    display: flex;
    flex-direction: column;
}
/* Phone landscape + portrait (iphone x) */
@media (min-width: 321px) and (max-width: 480px) {

}


/* Small tablet portrait con aprox 800 de Height */
@media (min-width: 481px) and (max-width: 600px)  {

}

/* // Large tablet portrait (ipad) */
@media (min-width: 601px) and (max-width: 768px) {
    article {
        margin-top: 30px;
    }
}


/* // Notebook - Tablet Landscape + (ipad pro con aprox 1366 de H) */
@media (min-width: 769px) and (max-width: 1024px)  {
    article {
        margin-top: 80px;
    }
}