<section>
    <app-navbar-lateral></app-navbar-lateral>


    <main class="container">
        <div class="p-4 p-md-5 mb-4  rounded  card-principal">
            
        </div>

        <div class="p-4 p-md-5 mb-4  rounded  card-principal1">
            <div class="col-md-6 px-0">
                <h1 class="display-4">Solana</h1>
                <p class="lead my-3">Informate sobre esta criptomoneda y mantienete actualizado con su cotizacíon en
                    tiempo real</p>
            </div>
            <div class="div-cotizacion">
                <h4>Cotización actual</h4>
                <p><span>$</span>85.64</p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Solana y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            solana?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Solana y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            solana?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Sobre la criptomoneda
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Datos en vivo del precio de SOL</h2>
                    <p class="blog-post-meta">Fecha de hoy actualizada</p>

                    <p>El precio de Solana en vivo hoy es de $85,52 USD con un volumen de operaciones de 24 horas de $1.309.631.603 USD.
                    Actualizamos nuestro precio de SOL a USD en tiempo real. Solana baja un 5,22% en las últimas 24 horas. El ranking actual
                    de CoinMarketCap es el #9, con una capitalización de mercado en vivo de $27.144.739.892 USD. Tiene un suministro
                    circulante de 317.423.396 monedas SOL y el máx. el suministro no está disponible.
</p>
                    <hr>







                </article>

                <article class="blog-post">
                    <h2>¿Qué es Solana (SOL)?
</h2>
                    <p>Solana es un proyecto de código abierto altamente funcional que se basa en la naturaleza sin permiso de la tecnología
                    blockchain para proporcionar soluciones de finanzas descentralizadas ( DeFi ). Si bien la idea y el trabajo inicial del
                    proyecto comenzaron en 2017, Solana fue lanzada oficialmente en marzo de 2020 por la Fundación Solana con sede en
                    Ginebra, Suiza.
</p>
                    <hr>
                    <p>El protocolo Solana está diseñado para facilitar la creación de aplicaciones descentralizadas ( DApp ). Su objetivo es
                    mejorar la escalabilidad mediante la introducción de un consenso de prueba de historial (PoH) combinado con el consenso
                    subyacente de prueba de participación ( PoS ) de la cadena de bloques.
</p>
                    <hr>
                    <p>Debido al innovador modelo de consenso híbrido, Solana disfruta del interés tanto de los pequeños comerciantes como de
                    los comerciantes institucionales. Un enfoque importante para la Fundación Solana es hacer que las finanzas
                    descentralizadas sean accesibles a mayor escala.
</p>
                    <hr>

                </article>

                <article class="blog-post">
                    <h2>¿Quiénes son los fundadores de Solana?
</h2>
                    <p>Anatoly Yakovenko es la persona más importante detrás de Solana. Su carrera profesional comenzó en Qualcomm, donde
                    rápidamente ascendió de rango y se convirtió en gerente senior de ingenieros de personal en 2015. Más tarde, su camino
                    profesional cambió y Yakovenko ingresó a una nueva posición como ingeniero de software en Dropbox.
</p>
                    <hr>
                    <p>En 2017, Yakovenko comenzó a trabajar en un proyecto que luego se materializaría como Solana. Se asoció con su colega de
                    Qualcomm, Greg Fitzgerald , y fundaron un proyecto llamado Solana Labs. Atrayendo a varios ex colegas de Qualcomm en el
                    proceso, el protocolo Solana y el token SOL se lanzaron al público en 2020.
</p>
                    <hr>
                    <h2>¿Qué hace única a Solana?
</h2>
                    <p>Una de las innovaciones esenciales que Solana trae a la mesa es el consenso de prueba de historia (PoH) desarrollado por
                    Anatoly Yakovenko. Este concepto permite una mayor escalabilidad del protocolo, lo que a su vez aumenta la usabilidad.
</p>
<hr>
                    <p>Solana es conocida en el espacio de las criptomonedas debido a los tiempos de procesamiento increíblemente cortos que
                    ofrece la cadena de bloques. El protocolo híbrido de Solana permite reducir significativamente los tiempos de validación
                    tanto para la ejecución de transacciones como de contratos inteligentes. Con tiempos de procesamiento ultrarrápidos,
                    Solana también ha atraído mucho interés institucional.
</p>
<hr>
                    <p>El protocolo Solana está destinado a servir tanto a usuarios de poca monta como a clientes empresariales por igual. Una
                    de las principales promesas de Solana a los clientes es que no se sorprenderán con el aumento de tarifas e impuestos. El
                    protocolo está diseñado de tal manera que tiene bajos costos de transacción y al mismo tiempo garantiza escalabilidad y
                    procesamiento rápido.
</p>
<hr>
                    <p>Combinado con la experiencia profesional de larga data que los creadores Anatoly Yakovenko y Greg Fitzgerald aportan al
                    proyecto, Solana ocupa el puesto número 7 en el ranking CoinMarketCap a partir de septiembre de 2021.
</p>
<hr>
                    <p>Esto se produjo en la parte posterior de una carrera alcista impresionante, donde el precio de Solana ganó más del 700%
                    desde mediados de julio de 2021. El lanzamiento de la colección NFT de Degenerate Ape envió el precio SOL a un máximo
                    histórico (ATH) por encima de $ 60, y ha ha estado subiendo desde entonces, en gran parte debido a una mayor actividad
                    de desarrolladores en el ecosistema de Solana, un mayor interés institucional, un ecosistema DeFi en crecimiento y el
                    aumento de las NFT y la vertical de juegos en Solana. El precio de Solana subió a un ATH de $216 el 9 de septiembre de
                    2021.
</p>
<hr>
                    <p>Solana ha recibido muchos elogios por su velocidad y rendimiento, e incluso ha sido señalado como un rival que puede
                    compararse con Ethereum y desafiar a la plataforma dominante de contratos inteligentes. Sin embargo, la red ha estado
                    plagada de repetidos apagones que han mermado su precio y sus aspiraciones a ser la " Visa de las criptomonedas ".
                    Además, se acusa a su ecosistema de favorecer a los inversores de capital de riesgo con tokenómicas injustas.
</p>
<hr>
                    <p>Esto ha llevado a un retroceso en el precio de SOL a partir de febrero de 2022, y no se puede descartar una acción del
                    precio más bajista a corto plazo . Sin embargo, a largo plazo, Solana debería apreciarse gracias al fuerte apoyo de
                    intercambios como FTX .
</p>
                    <hr>


                    <h2>¿Cuántas monedas Solana (SOL) hay en circulación?
</h2>
                    <p>La Fundación Solana ha anunciado que se pondrán en circulación un total de 489 millones de tokens SOL. De momento, unos
                    260 millones de estos ya han entrado en el mercado.
</p>
<hr>
                    <p>La distribución de tokens SOL es la siguiente: el 16,23 % se destinó a una venta inicial de semillas, el 12,92 % de los
                    tokens se dedicó a una venta de fundación, el 12,79 % de las monedas SOL se distribuyeron entre los miembros del equipo
                    y el 10,46 % de los tokens se entregaron a la Fundación Solana. Los tokens restantes ya se lanzaron para ventas públicas
                    y privadas o aún están por lanzarse al mercado.
</p>
<hr>
                    <p>El precio de Solana durante la venta inicial de semillas, realizada el 5 de abril de 2018, fue de $0,04. Dado el
                    reciente ATH, eso representa un impresionante retorno de la inversión (ROI) de 5400X.
</p>

                    <hr>


                    <h2>¿Cómo se asegura la red Solana?
</h2>
                    <p>Solana se basa en una combinación única de mecanismos de consenso de prueba de historial (PoH) y prueba de participación
                    ( PoS ).
</p>
<hr>
                    <p>La prueba de historial es el componente principal del protocolo Solana, ya que es responsable de la mayor parte del
                    procesamiento de transacciones. PoH registra las operaciones exitosas y el tiempo que ha pasado entre ellas, lo que
                    garantiza la naturaleza sin confianza de la cadena de bloques.
</p>
<hr>
                    <p>El consenso de prueba de participación (PoS) se utiliza como una herramienta de monitoreo para los procesos de PoH y
                    valida cada secuencia de bloques producidos por él.
                    
                    La combinación de dos mecanismos de consenso convierte a Solana en un fenómeno único en la industria de la cadena de
                    bloques.</p>

                    <hr>
                </article>





            </div>
            <!-- ====================================== -->

            <!-- AQUI ESTA LA PARTE DEL ASIDE -->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 card-mundo-cripto rounded">
                        <h4 class="fst-italic">Mundo Cripto</h4>
                        <p class="mb-0">Para acceder a las paginas con información del resto de criptomonedas que se
                            manejan en Cata Exchange, le invito a consultar el apartado de "Nombre del apartado ya sea
                            dashboard, swap, etc"</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Estadisticas - SOL</h4>
                        <ol class="list-unstyled mb-0">
                            <li> Precio:<span class="span-info-aside"> $40,000</span> </li>
                            <li>Ult 24hs:<span class="span-info-aside"> -3.35%</span> </li>
                            <li>Market rank:<span class="span-info-aside"> #1</span> </li>
                            <li>Volume market cap:<span class="span-info-aside"> 0.02791</span> </li>
                            <li>Maximo historico:<span class="span-info-aside"> $68,789 (hace 4 meses)</span> </li>
                            <li>Minimo historico:<span class="span-info-aside"> $65.53 (hace 9 años)</span> </li>
                            <li>Total suply:<span class="span-info-aside"> 18.975.218 BTC</span> </li>
                            <li>Max suply:<span class="span-info-aside"> 21.000.000 BTC</span> </li>

                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Información proporcionada por:</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Coinmarketcap</a></li>
                            <li><a href="#">Pag de info</a></li>
                            <li><a href="#">Pag de info</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>

<app-footer></app-footer>