<section>
    <app-navbar-lateral></app-navbar-lateral>


    <main class="container">
        <div class="p-4 p-md-5 mb-4  rounded  card-principal">
            <div class="col-md-6 px-0">
                <h1 class="display-4">Ethereum</h1>
                <p class="lead my-3">Informate sobre esta criptomoneda y mantienete actualizado con su cotizacíon en
                    tiempo real</p>
            </div>
            <div class="div-cotizacion">
                <h4>Cotización actual</h4>
                <p><span>$</span>2,611.44</p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Ethereum y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            ethereum?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Ethereum y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            ethereum?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Sobre la criptomoneda
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Datos en vivo del precio de ETH</h2>
                    <p class="blog-post-meta">Fecha de hoy actualizada</p>

                    <p>El precio de Ethereum en vivo hoy es de $2612,98 USD con un volumen de operaciones de 24 horas de $7.843.341.531 USD.
                    Actualizamos nuestro precio de ETH a USD en tiempo real. Ethereum ha bajado un 2,21% en las últimas 24 horas. El ranking
                    actual de CoinMarketCap es el #2, con una capitalización de mercado en vivo de $313.167.941.998 USD. Tiene un suministro
                    en circulación de 119.851.003 monedas ETH y el máximo. el suministro no está disponible.</p>
                    <hr>







                </article>

                <article class="blog-post">
                    <h2>¿Qué es Ethereum (ETH)?</h2>
                    <p>Ethereum es un sistema blockchain de código abierto descentralizado que cuenta con su propia criptomoneda, Ether. ETH
                    funciona como plataforma para muchas otras criptomonedas , así como para la ejecución de contratos inteligentes
                    descentralizados .</p>
                    <hr>
                    <p>Ethereum se describió por primera vez en un documento técnico de 2013 de Vitalik Buterin. Buterin, junto con otros
                    cofundadores, aseguró la financiación del proyecto en una venta pública en línea en el verano de 2014. El equipo del
                    proyecto logró recaudar $18,3 millones en Bitcoin, y el precio de Ethereum en la Oferta Inicial de Monedas (ICO) fue de
                    $0,311 , con más de 60 millones de Ether vendidos. Tomando el precio de Ethereum ahora, esto pone el retorno de la
                    inversión (ROI) a una tasa anualizada de más del 270%, esencialmente casi cuadruplicando su inversión cada año desde el
                    verano de 2014.</p>
                    <hr>
                    <p>La Fundación Ethereum lanzó oficialmente la cadena de bloques el 30 de julio de 2015, bajo el nombre en código prototipo
                    "Frontier". Desde entonces, ha habido varias actualizaciones de la red: "Constantinopla" el 28 de febrero de 2019,
                    "Estambul" el 8 de diciembre de 2019, "Glaciar Muir" el 2 de enero de 2020, "Berlín" el 14 de abril de 2021, y más
                    recientemente, el 5 de agosto de 2021, la bifurcación dura "London" .</p>
                    <hr>
                    <p>El supuesto objetivo de Ethereum es convertirse en una plataforma global para aplicaciones descentralizadas, que permita
                    a los usuarios de todo el mundo escribir y ejecutar software resistente a la censura, el tiempo de inactividad y el
                    fraude.</p>
                    <hr>
                </article>

                <article class="blog-post">
                    <h2>¿Quiénes son los fundadores de Ethereum?</h2>
                    <p>Ethereum tiene un total de ocho cofundadores , un número inusualmente grande para un proyecto criptográfico. Se
                    conocieron por primera vez el 7 de junio de 2014 en Zug, Suiza.</p>
                    <hr>
                    <p>El ruso-canadiense Vitalik Buterin es quizás el más conocido del grupo. Fue autor del libro blanco original que
                    describió por primera vez a Ethereum en 2013 y todavía trabaja para mejorar la plataforma hasta el día de hoy. Antes de
                    ETH, Buterin cofundó y escribió para el sitio web de noticias Bitcoin Magazine.</p>
                    <hr>
                    <p>El programador británico Gavin Wood es posiblemente el segundo cofundador más importante de ETH, ya que codificó la
                    primera implementación técnica de Ethereum en el lenguaje de programación C++, propuso el lenguaje de programación
                    nativo de Ethereum, Solidity, y fue el primer director de tecnología de la Fundación Ethereum. Antes de Ethereum, Wood
                    era científico investigador en Microsoft. Posteriormente, pasó a establecer la Fundación Web3.</p>
                    <hr>
                    <p>Entre los otros cofundadores de Ethereum se encuentran: - Anthony Di Iorio, quien suscribió el proyecto durante su etapa
                    inicial de desarrollo. - Charles Hoskinson , quien desempeñó el papel principal en el establecimiento de la Fundación
                    Ethereum con sede en Suiza y su marco legal. - Mihai Alisie, quien brindó asistencia en el establecimiento de la
                    Fundación Ethereum. - Joseph Lubin , un empresario canadiense que, al igual que Di Iorio, ayudó a financiar Ethereum
                    durante sus primeros días y luego fundó una incubadora para nuevas empresas basada en ETH llamada ConsenSys. - Amir
                    Chetrit, quien ayudó a cofundar Ethereum pero se alejó de él al principio del desarrollo.</p>
                    <hr>
                </article>

                <article class="blog-post">
                    <h2>¿Qué hace que Ethereum sea único?</h2>
                    <p>Ethereum ha sido pionero en el concepto de una plataforma de contrato inteligente de cadena de bloques. Los contratos
                    inteligentes son programas informáticos que ejecutan automáticamente las acciones necesarias para cumplir un acuerdo
                    entre varias partes en Internet. Fueron diseñados para reducir la necesidad de intermediarios confiables entre
                    contratistas, reduciendo así los costos de transacción y aumentando la confiabilidad de la transacción.</p>
                    <p>La principal innovación de Ethereum fue diseñar una plataforma que le permitiera ejecutar contratos inteligentes
                    utilizando blockchain, lo que refuerza aún más los beneficios ya existentes de la tecnología de contratos inteligentes.
                    La cadena de bloques de Ethereum fue diseñada, según el cofundador Gavin Wood, como una especie de "una computadora para
                    todo el planeta", teóricamente capaz de hacer que cualquier programa sea más robusto, resistente a la censura y menos
                    propenso al fraude al ejecutarlo en un sistema distribuido globalmente. red de nodos públicos.</p>
                    <p>Además de los contratos inteligentes, la cadena de bloques de Ethereum puede alojar otras criptomonedas, llamadas
                    "tokens", mediante el uso de su estándar de compatibilidad ERC-20. De hecho, este ha sido el uso más común de la
                    plataforma ETH hasta el momento: hasta la fecha, se han lanzado más de 280 000 tokens compatibles con ERC-20. Más de 40
                    de estas se encuentran entre las 100 principales criptomonedas por capitalización de mercado, por ejemplo, USDT , LINK y
                    BNB . Desde la aparición de los juegos Play2Earn , ha habido un aumento sustancial en el interés por el precio de ETH a
                    PHP .</p>
                    <hr>


                    <h2>Bifurcación dura de Ethereum Londres</h2>
                    <p>La red Ethereum ha estado plagada de altas tarifas de transacción, a menudo cediendo en temporadas de alta demanda. En
                    mayo de 2021, la tarifa de transacción promedio de la red alcanzó un máximo de $ 71,72 .
                    
                    Además del alto costo de las transacciones, la altcoin líder también sufre problemas de escalabilidad.</p>
                    <p>Como ya se mencionó, hay planes para hacer la transición a un algoritmo de prueba de participación para aumentar la
                    escalabilidad de la plataforma y agregar una serie de características nuevas. El equipo de desarrollo ya comenzó el
                    proceso de transición a ETH 2.0, implementando algunas actualizaciones en el camino, incluida la bifurcación dura de
                    Londres.</p>
                    <p>La actualización de Londres se puso en marcha en agosto de 2021. Incluía cinco propuestas de mejora de Ethereum (EIP), a
                    saber, EIP-3529, EIP-3198, EIP-3541 y, sobre todo, EIP-1559 y EIP-3554.
                    
                    EIP-1559 es posiblemente la actualización más popular de todos los EIP.</p>
                    <p><b>¿Qué es EIP-1559?</b>
                    La actualización EIP-1559 introduce un mecanismo que cambia la forma en que se estiman las tarifas de gas en la cadena
                    de bloques Ethereum. Antes de la actualización, los usuarios tenían que participar en una subasta abierta para que un
                    minero recogiera sus transacciones. Este proceso se conoce como "subasta de primer precio" y, como se esperaba, gana el
                    mejor postor.</p>
                    <p>Con EIP-1559, este proceso es manejado por un sistema de licitación automatizado, y hay una "tarifa base" establecida
                    para que las transacciones se incluyan en el siguiente bloque. Esta tarifa varía según la congestión de la red. Además,
                    los usuarios que deseen acelerar sus transacciones pueden pagar una "tarifa de prioridad" a un minero para una inclusión
                    más rápida.</p>
                    <p>EIP-1559 también introduce un mecanismo de quema de tarifas. Una parte de cada tarifa de transacción (la tarifa base) se
                    quema y se retira de circulación. Esto tiene como objetivo reducir el suministro circulante de Ether y potencialmente
                    aumentar el valor del token con el tiempo. Curiosamente, menos de dos meses después de que se implementara la actualización de Londres, la red había quemado más de
                    mil millones de dólares en Ether.</p>
                    <hr>

                    <h2>Ethereum 2.0</h2>
                    <p>En 2022, Ethereum planea cambiar a prueba de participación con su actualización Ethereum 2.0 . Este cambio ha estado en
                    la hoja de ruta de Ethereum desde el inicio de la red y vería un nuevo mecanismo de consenso , además de introducir
                    fragmentación como una solución de escala. La cadena Ethereum actual se convertirá en Beacon Chain y servirá como una
                    capa de liquidación para interacciones de contratos inteligentes en otras cadenas.</p>
                    <p>A fines de 2021, la actualización de Arrow Glacier de Ethereum se retrasó hasta junio de 2022. Hasta entonces, Vitalik
                    Buterin espera que el camino hacia el final del juego de la red esté formado por resúmenes optimistas y resúmenes Zk.</p>
                    <hr>

                    <h2>¿Cuántas monedas Ethereum (ETH) hay en circulación?</h2>
                    <p>En septiembre de 2021, había alrededor de 117,5 millones de monedas ETH en circulación, 72 millones de las cuales se
                    emitieron en el bloque de génesis, el primer bloque en la cadena de bloques de Ethereum. De estos 72 millones, 60
                    millones se destinaron a los contribuyentes iniciales de la venta colectiva de 2014 que financió el proyecto, y 12
                    millones al fondo de desarrollo.</p>
                    <p>El monto restante se emitió en forma de recompensas en bloque para los mineros en la red Ethereum. La recompensa
                    original en 2015 fue de 5 ETH por bloque, que luego se redujo a 3 ETH a fines de 2017 y luego a 2 ETH a principios de
                    2019. El tiempo promedio que lleva extraer un bloque de Ethereum es de alrededor de 13 a 15 segundos.</p>
                    <p>En la actualización de la red Ethereum de agosto de 2021, la bifurcación dura de Londres contenía el Protocolo de mejora
                    de Ethereum , EIP-1559. En lugar del mecanismo de subasta de primer precio donde gana el mejor postor, EIP-1559
                    introduce una "tarifa base" para que las transacciones se incluyan en el siguiente bloque. Los usuarios que deseen
                    priorizar su transacción pueden pagar una "propina" o "tarifa de prioridad" a los mineros. Como la tarifa base se ajusta
                    dinámicamente con la actividad de transacción, esto reduce la volatilidad de las tarifas de gas de Ethereum, aunque no
                    reduce el precio, que es notoriamente alto durante los picos de congestión en la red.</p>
                    <p>Una de las principales diferencias entre la economía de Bitcoin y Ethereum es que este último no es deflacionario, es
                    decir, su oferta total no está limitada. Los desarrolladores de Ethereum justifican esto al no querer tener un
                    "presupuesto de seguridad fijo" para la red. Poder ajustar la tasa de emisión de ETH a través del consenso permite que
                    la red mantenga la emisión mínima necesaria para una seguridad adecuada.</p>
                    <p>Sin embargo, con la introducción de EIP-1559, las tarifas base utilizadas en las transacciones se queman, lo que elimina
                    la ETH de circulación. Esto significa que una mayor actividad en la red conduciría a más ETH quemado, y la disminución
                    del suministro debería conducir a una apreciación del precio de Ethereum, en igualdad de condiciones. Esto tiene el
                    potencial de hacer que Ethereum sea deflacionario, algo que entusiasma a los titulares de ETH: una posible apreciación
                    en el precio de Ethereum hoy.</p>
                    <hr>

                    <h2>¿Cómo se asegura la red Ethereum?</h2>
                    <p>A partir de agosto de 2020, Ethereum está protegido a través del algoritmo de prueba de trabajo Ethash, que pertenece a
                    la familia de funciones hash de Keccak.</p>
                    <p>Sin embargo, hay planes para hacer la transición de la red a un algoritmo de prueba de participación vinculado a la
                    actualización principal de Ethereum 2.0 , que se lanzó a fines de 2020.</p>
                    <p>Después de que Ethereum 2.0 Beacon Chain (Fase 0) se puso en marcha a principios de diciembre de 2020, fue posible
                    comenzar a participar en la red Ethereum 2.0. Una participación de Ethereum es cuando deposita ETH (se requieren 32 ETH
                    para activar el software de validación) en Ethereum 2.0 enviándolo a un contrato de depósito, lo que ayuda a proteger la
                    red almacenando datos, procesando transacciones y agregando nuevos bloques a la cadena de bloques. Al momento de
                    escribir este artículo, a mediados de septiembre de 2021, el precio de Ethereum ahora para 32 Ether es de
                    aproximadamente $116,029. La cantidad de dinero que ganan los validadores de Ethereum en este momento es un retorno del
                    6 % APR, lo que equivale a alrededor de 1,91952 ETH, o $6960 en el precio actual de Ethereum. Este número cambiará a
                    medida que la red se desarrolle y aumente la cantidad de participantes (validadores).</p>
                    <p>Las recompensas de apuestas de Ethereum están determinadas por una curva de distribución (la participación y el
                    porcentaje promedio de participantes): algunas recompensas de apuestas de ETH 2.0 eran del 20 % para los primeros
                    participantes, pero se reducirán para terminar entre el 7 % y el 4,5 % anual.</p>
                    <p>Los requisitos mínimos para una participación en Ethereum son 32 ETH. Si decide apostar en Ethereum 2.0, significa que
                    su participación en Ethereum estará bloqueada en la red durante meses, si no años, en el futuro hasta que se complete la
                    actualización de Ethereum 2.0.</p>
                    <hr>
                </article>



            </div>
            <!-- ====================================== -->

            <!-- AQUI ESTA LA PARTE DEL ASIDE -->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 card-mundo-cripto rounded">
                        <h4 class="fst-italic">Mundo Cripto</h4>
                        <p class="mb-0">Para acceder a las paginas con información del resto de criptomonedas que se
                            manejan en Cata Exchange, le invito a consultar el apartado de "Nombre del apartado ya sea
                            dashboard, swap, etc"</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Estadisticas - BTC</h4>
                        <ol class="list-unstyled mb-0">
                            <li> Precio:<span class="span-info-aside"> $40,000</span> </li>
                            <li>Ult 24hs:<span class="span-info-aside"> -3.35%</span> </li>
                            <li>Market rank:<span class="span-info-aside"> #1</span> </li>
                            <li>Volume market cap:<span class="span-info-aside"> 0.02791</span> </li>
                            <li>Maximo historico:<span class="span-info-aside"> $68,789 (hace 4 meses)</span> </li>
                            <li>Minimo historico:<span class="span-info-aside"> $65.53 (hace 9 años)</span> </li>
                            <li>Total suply:<span class="span-info-aside"> 18.975.218 BTC</span> </li>
                            <li>Max suply:<span class="span-info-aside"> 21.000.000 BTC</span> </li>

                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Información proporcionada por:</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Coinmarketcap</a></li>
                            <li><a href="#">Pag de info</a></li>
                            <li><a href="#">Pag de info</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>

<app-footer></app-footer>