
<section >
    <article class="quienes-somos" id="quienes-somos">
        <h3 class="titulo-h3">QUIENES SOMOS</h3>
        <h1>DEVELOPERS TEAM</h1>
        <p>Somos un equipo conformado por 4 developers cursando el curso de "Desarrollador full stack" dictado por el ISPC (instituto superior politecnico de Córdoba) en conjunto con el nodo tecnológico de Catamarca. En este curso aprendimos distintas tecnologías, metodologías y herramientas que nos son de utilidad para la creación de un exchange y para nuestra futura salida laboral.</p>

            
        <div class="contenedor-card">
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/ale-avatar.png" alt="Alejandro Ibañez">
                <h2>Alejandro Ibañez</h2>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="https://www.linkedin.com/in/alejandroibz"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="https://github.com/alejandroibz"><i class="fa-brands fa-github"></i></a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/maca-avatar.png" alt="Macarena Cerutti">
                <h2>Macarena Cerutti</h2>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="https://www.linkedin.com/in/macarenacerutti"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="https://github.com/MacarenaCerutti"><i class="fa-brands fa-github"></i></a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/aldo-avatar.png" alt="Aldo Fernández">
                <h2>Aldo Fernández</h2>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="https://www.linkedin.com/in/aldofernandezca"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="https://instagram.com/aldofernandezca"><i class="fab fa-instagram"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="https://github.com/Aldofn8"><i class="fa-brands fa-github"></i></a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/claudio-avatar.png" alt="Claudio Nieva">
                <h2>Claudio Nieva</h2>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="https://www.linkedin.com/in/claudio-nieva-847059169"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                    <li class="ms-3"><a class="link-dark" href="https://github.com/claudioNievaG"><i class="fa-brands fa-github"></i></a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>

        </div>

        

    </article>
</section>
