
<section >
    <article class="quienes-somos" id="quienes-somos">
        <h1>QUIENES SOMOS</h1>
        <p>Somos un equipo conformado por 4 developers cursando el curso de .NET dicatdo por el ISPC (instituto superior politecnico de Cordoba) en conjunto con el nodo tecnologico de Catamarca. En este curso aprendimos distintas tecnologias, metodologias y herramientas que nos son de utilidad para la creación de un exchange y para nuestra futura salida laboral.</p>

            <h3 >DEVELOPERS TEAM</h3>
        <div class="contenedor-card">
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/ale-avatar.png" alt="Alejandro Ibañez">
                <h2>Alejandro Ibañez</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/maca-avatar.png" alt="Macarena Cerutti">
                <h2>Macarena Cerutti</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/aldo-avatar.png" alt="Aldo Fernández">
                <h2>Aldo Fernández</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/claudio-avatar.png" alt="Claudio Nieva">
                <h2>Claudio Nieva</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>

        </div>

        <!-------------------------------- ubicaicon,mapa------------------>
        <div class="row contenedor-map container text-center">
            <h3 >DONDE ENCONTRARNOS</h3>

            <iframe class="map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0"
                marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=-65.78112512826921%2C-28.469978686626565%2C-65.77758461236955%2C-28.467922628871804&amp;layer=mapnik"></iframe><br/><small></small>   
        </div>

    </article>
</section>
