
<section >
    <div class="quienes-somos" id="quienes-somos">
        <h1>QUIENES SOMOS</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero eligendi suscipit aliquid maxime ratione dolorem
            sapiente ipsa, facilis quod voluptates unde a neque? Temporibus quaerat, autem dolore aliquid natus nesciunt enim
            fugit distinctio iure. Adipisci suscipit sed beatae quisquam ex.</p>
        <div class="contenedor-card">
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/ale-avatar.png" alt="Alejandro Ibañez">
                <h2>Alejandro Ibañez</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/maca-avatar.png" alt="Macarena Cerutti">
                <h2>Macarena Cerutti</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/aldo-avatar.png" alt="Aldo Fernández">
                <h2>Aldo Fernández</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/claudio-avatar.png" alt="Claudio Nieva">
                <h2>Claudio Nieva</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
        </div>
    </div>
</section>
