:root {
    --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
    --gradiente-nuevo: linear-gradient(85deg, #007ad8, #004F8A);
    --lightblue: #004F8A;
    --texto-resalta:#0091ff;
    --darkblue: #ef5777;
    --text-color: #d5e1ef;
    --nuevo-fondo-body: #282A4C;
    --nuevo-oscuro: #181C37;
    --nuevo-claro: #26284E;
    --nuevo-texto: #dfe2eb;
}

.quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2rem 2rem 4rem 2rem;
    background-color: var(--lightblue);
    color: var(--nuevo-texto);

}

.quienes-somos h1{
    margin: 2rem 0;
}
.quienes-somos p {
    text-align: center;
    width: 60%;
    margin: 0 0 4rem 0;
    font-size: 1.2rem;
}

.contenedor-card {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;  
}

/* @keyframes floate {
	0% {
		
		transform: translatey(0px);

	}
	50% {
		
		transform: translatey(-20px);

	}
	100% {
		
		transform: translatey(0px);

	}
}  */

.card-quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20rem;
    height: 30rem;
    background-color: #0063af;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 4px #000000; 
    box-shadow: 0px 0px 20px 4px #000000;  
    transition: all 500ms ease-out;    
}

.card-quienes-somos:hover{
    /* animation: floate 3s ease-in-out infinite; */
    transform: translatey(-20px);
    -webkit-box-shadow: 0px 20px 50px 3px #000000; 
    box-shadow: 0px 20px 50px 3px #000000;

}
.avatar {
    width: 15rem;
}
.card-quienes-somos p {
    text-align: center;
}
