:root {
    --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
    --gradiente-nuevo: linear-gradient(85deg, #007ad8, #004F8A);
    --lightblue: #004F8A;
    --texto-resalta:#989dff;
    --purple: purple;
    --text-color: #f8f9fc;
    --fondo-body: #1a1b3f;
    --fondo-oscuro:#0e0c2d;
    --fondo-claro: #43456d;
}

section {
    background-color: var(--fondo-body);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

main { 
    margin-top: 2rem;
}

main h2, main h4 {
    color: var(--texto-resalta);
}

/* CARD PRINCIPAL CON TITULO Y COTIZACION */
.card-principal {
    height: 40vh;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background-image: url(../../../assets/smooth-love-potion-slp-logo.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center
}

.card-principal1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.div-cotizacion {
    text-align: center;
}

.div-cotizacion h4 {
    font-size: 1rem;
}

.div-cotizacion p {
    font-size: 3rem;
}

/* CARDS DE NOTICIAS */
.strong-news {
    color: var(--texto-resalta);
}

.card-news-completa {
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,1);

}

.texto-card-news {
    background-color: var(--fondo-oscuro);
}
/* ASIDE */
.span-info-aside {
    font-weight: 700;
}

.card-mundo-cripto {
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,1);
    background-color:var(--fondo-oscuro);
}