<section>
    <app-navbar-lateral></app-navbar-lateral>


    <main class="container">
        <div class="p-4 p-md-5 mb-4  rounded  card-principal">
            <div class="col-md-6 px-0">
                <h1 class="display-4">Smooth Love Potion</h1>
                <p class="lead my-3">Informate sobre esta criptomoneda y mantienete actualizado con su cotizacíon en
                    tiempo real</p>
            </div>
            <div class="div-cotizacion">
                <h4>Cotización actual</h4>
                <p><span>$</span>0.01796</p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">SLP y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            SLP?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">SLP y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            SLP?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Sobre la criptomoneda
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Datos en vivo del precio de SLP</h2>
                    <p class="blog-post-meta">Fecha de hoy actualizada</p>

                    <p>El precio de Smooth Love Potion en vivo hoy es de $0,017940 USD con un volumen de operaciones de 24 horas de
                    $230.294.962 USD. Actualizamos nuestro precio SLP a USD en tiempo real. Smooth Love Potion ha bajado un 7,32% en las
                    últimas 24 horas. El ranking actual de CoinMarketCap es el #377, con una capitalización de mercado en vivo de
                    $92.028.942 USD. Tiene un suministro circulante de 5.129.907.048 monedas SLP y el máx. el suministro no está disponible.
</p>
                    <hr>







                </article>

                <article class="blog-post">
                    <h2>¿Qué es Smooth Love Potion (SLP)?</h2>
                    <p>Los tokens Smooth Love Potion (SLP) se obtienen al jugar el juego Axie Infinity. Este activo digital sirve como
                    reemplazo de los puntos de experiencia.
</p>
                    <hr>
                    <p>Los SLP son tokens ERC-20 y se pueden usar para criar nuevas mascotas digitales que se conocen como Axies. El costo de
                    la cría comienza en 100 SLP pero aumenta gradualmente, llegando a 200 SLP para la segunda raza, 300 para la tercera, 500
                    para la cuarta, 800 para la quinta y 1300 para la sexta. Los Axies se pueden criar un máximo de siete veces, y la
                    séptima raza cuesta 2100 SLP. Este límite existe para evitar la hiperinflación en el mercado.
</p>
                    <hr>
                    <p>Puede llevar tiempo acumular SLP a través del juego, y es posible que un jugador deba ganar 15 competencias para obtener
                    suficientes tokens para realizar su primera raza. Comprar SLP en el mercado abierto es una forma de que los jugadores
                    obtengan una ventaja inicial.
</p>
                    <hr>

                </article>

                <article class="blog-post">
                    <h2>¿Quiénes son los fundadores de Smooth Love Potion?
</h2>
                    <p>Una mejor pregunta es esta: ¿quién fundó Axie Infinity? El director ejecutivo de la compañía detrás del juego es Trung
                    Nguyen, quien en realidad dejó su rol como desarrollador de software en los EE. UU. para enfocarse en el proyecto.
</p>
                    <hr>
                    <p>Según Nguyen, estaba motivado para explorar el potencial de blockchain en los juegos porque estaba frustrado por la
                    cantidad de jugadores que realmente no poseen activos valiosos en títulos populares. En una entrevista con Blockchain
                    Gamer, dijo que la plataforma Ethereum le había brindado la mejor oportunidad para crear el "juego de sus sueños".
</p>
                    <hr>
                    <p>Nguyen dice que el proceso de reproducción, para el cual se usa SLP, está diseñado para que sea familiar para aquellos
                    que han jugado otros juegos coleccionables como CryptoKitties.
</p>
                    <hr>
                    
                    <h2>¿Qué hace que SLP sea única?
</h2>
                    <p>Es bastante inusual que la moneda del juego se incluya en intercambios como SLP. En cierto modo, es como si Nintendo
                    decidiera vincular el valor monetario a las monedas utilizadas en Super Mario.
</p>
                    <hr>
                    <p>Nguyen dice que los Axies son diferentes de otras fichas no fungibles por la forma en que necesitan ser nutridos si van
                    a tener alguna posibilidad de llegar a la edad adulta.
</p>
                    <hr>
                    <p>SLP también es único por cómo se ha convertido en uno de los pocos tokens en el juego que Binance incluye en su Zona de
                    Innovación. El intercambio ha reservado esta categoría comercial para activos "que probablemente tengan una mayor
                    volatilidad y representen un mayor riesgo que otros tokens".
</p>
                    <hr>

                    <h2>¿Cuántas monedas Smooth Love Potion (SLP) hay en circulación?
</h2>
                    <p>Cuando se trata de tokenómica, la cantidad de SLP en circulación es bastante fluida. Eso se debe a cómo se queman estos
                    tokens cada vez que se crían nuevos Axies. No obstante, en el momento de escribir este artículo, el suministro
                    circulante de SLP era de decenas de millones, y este token ERC-20 no tiene un límite máximo.
</p>
                    <hr>
                    <p>Si la cantidad de jugadores de Axie Infinity aumenta sustancialmente, esto podría resultar en niveles mucho más altos de
                    SLP que ingresan al ecosistema a medida que se ganan y pierden más competencias.
</p>
                    <hr>
                    <p>El precio de Smooth Love Potion subió a un máximo histórico (ATH) de $ 0.3642 el 1 de mayo de 2021, luego cayó casi el
                    75% de su valor. Los precios procedieron a alcanzar su punto máximo nuevamente a mediados de julio para alcanzar un
                    máximo de $ 0.3462. Desde entonces, el precio de Smooth Love Potion ha seguido una tendencia a la baja.
</p>

                    <hr>

                </article>





            </div>
            <!-- ====================================== -->

            <!-- AQUI ESTA LA PARTE DEL ASIDE -->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 card-mundo-cripto rounded">
                        <h4 class="fst-italic">Mundo Cripto</h4>
                        <p class="mb-0">Para acceder a las paginas con información del resto de criptomonedas que se
                            manejan en Cata Exchange, le invito a consultar el apartado de "Nombre del apartado ya sea
                            dashboard, swap, etc"</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Estadisticas - SLP</h4>
                        <ol class="list-unstyled mb-0">
                            <li> Precio:<span class="span-info-aside"> $40,000</span> </li>
                            <li>Ult 24hs:<span class="span-info-aside"> -3.35%</span> </li>
                            <li>Market rank:<span class="span-info-aside"> #1</span> </li>
                            <li>Volume market cap:<span class="span-info-aside"> 0.02791</span> </li>
                            <li>Maximo historico:<span class="span-info-aside"> $68,789 (hace 4 meses)</span> </li>
                            <li>Minimo historico:<span class="span-info-aside"> $65.53 (hace 9 años)</span> </li>
                            <li>Total suply:<span class="span-info-aside"> 18.975.218 BTC</span> </li>
                            <li>Max suply:<span class="span-info-aside"> 21.000.000 BTC</span> </li>

                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Información proporcionada por:</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Coinmarketcap</a></li>
                            <li><a href="#">Pag de info</a></li>
                            <li><a href="#">Pag de info</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>

<app-footer></app-footer>