<main class="main-dashboard div-contenedor">
    <h3 class="titulo-populares">Las criptomonedas mas populares</h3>
    <div class="contenedor-cajas-cripto">
        <div class="wrapper">
            <!-- PARTE DE ARRIBA -->
            <div class="overviewInfo">
                <!-- FLECHA Y BOTON -->
                <div class="actions">
                    <div class="backbutton ">
                        <i class="fi-rr-arrow-left"></i>
                    </div>
                    <div class="cartbutton neurobutton">
                        <i class="fi-rr-shopping-cart"></i>
                    </div>
                </div>

                <!-- INFO DEL -->
                <div class="productinfo">
                    <div class="grouptext">
                        <h3>BITCOIN</h3>
                        <p>Criptomonedas</p>
                    </div>
                    <div class="grouptext">
                        <h3>NIVEL DE MERCADO</h3>
                        <p>#1</p>
                    </div>
                    
                    <div class="productImage">
                        <img src="../../assets/logo-btc.png" alt="logo bitcoin" class="logo-btc-card">
                    </div>
                </div>
            </div>

            <!-- PARTE DE ABAJO -->
            <div class="productSpecifications">
                <h1> Bitcoin </h1>
                <p> Bitcoin es la criptomoneda mas popular, es una cripto descentralizada presentada originalmente en un
                    documento técnico en 2008 por una persona, o
                    grupo de personas, utilizando el alias Satoshi Nakamoto. </p>


                <div class="checkoutButton">
                    <div class="priceTag">
                        <span>$</span>50
                    </div>
                    <button class="preorder">
                        <p>Preorder</p>
                        <div class="buttonaction">
                            <i class="fi-rr-arrow-right flecha-order"></i>
                        </div>
                    </button>
                </div>
            </div>
        </div>


        <div class="wrapper">
            <!-- PARTE DE ARRIBA -->
            <div class="overviewInfo">
                <!-- FLECHA Y BOTON -->
                <div class="actions">
                    <div class="backbutton ">
                        <i class="fi-rr-arrow-left"></i>
                    </div>
                    <div class="cartbutton neurobutton">
                        <i class="fi-rr-shopping-cart"></i>
                    </div>
                </div>

                <!-- INFO DEL -->
                <div class="productinfo">
                    <div class="grouptext">
                        <h3>BITCOIN</h3>
                        <p>Criptomonedas</p>
                    </div>
                    <div class="grouptext">
                        <h3>NIVEL DE MERCADO</h3>
                        <p>#1</p>
                    </div>
                    <div class="productImage">
                        <img src="../../assets/logo-btc.png" alt="product: ps5 controller image" class="logo-btc-card">
                    </div>
                </div>
            </div>

            <!-- PARTE DE ABAJO -->
            <div class="productSpecifications">
                <h1> Bitcoin </h1>
                <p> Bitcoin es la criptomoneda mas popular, es una cripto descentralizada presentada originalmente en un
                    documento técnico en 2008 por una persona, o
                    grupo de personas, utilizando el alias Satoshi Nakamoto. </p>


                <div class="checkoutButton">
                    <div class="priceTag">
                        <span>$</span>50
                    </div>
                    <button class="preorder">
                        <p>Preorder</p>
                        <div class="buttonaction">
                            <i class="fi-rr-arrow-right flecha-order"></i>
                        </div>
                    </button>
                </div>
            </div>
        </div>


        <div class="wrapper">
            <!-- PARTE DE ARRIBA -->
            <div class="overviewInfo">
                <!-- FLECHA Y BOTON -->
                <div class="actions">
                    <div class="backbutton ">
                        <i class="fi-rr-arrow-left"></i>
                    </div>
                    <div class="cartbutton neurobutton">
                        <i class="fi-rr-shopping-cart"></i>
                    </div>
                </div>

                <!-- INFO DEL -->
                <div class="productinfo">
                    <div class="grouptext">
                        <h3>ETHEREUM</h3>
                        <p>Criptomonedas</p>
                    </div>
                    <div class="grouptext">
                        <h3>NIVEL DE MERCADO</h3>
                        <p>#2</p>
                    </div>
                    <div class="productImage">
                        <img src="../../assets/logo-eth.png" alt="logo ethereum" class="logo-eth-card">
                    </div>
                </div>
            </div>

            <!-- PARTE DE ABAJO -->
            <div class="productSpecifications">
                <h1> ETHEREUM</h1>
                <p> Bitcoin es la criptomoneda mas popular, es una cripto descentralizada presentada originalmente en un
                    documento técnico en 2008 por una persona, o
                    grupo de personas, utilizando el alias Satoshi Nakamoto. </p>


                <div class="checkoutButton">
                    <div class="priceTag">
                        <span>$</span>50
                    </div>
                    <button class="preorder">
                        <p>Preorder</p>
                        <div class="buttonaction">
                            <i class="fi-rr-arrow-right flecha-order"></i>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>