<main class="main-dashboard div-contenedor">
    <h3 class="titulo-populares">Las criptomonedas mas populares</h3>
    <div class="contenedor-cajas-cripto">
        <div class="wrapper">
            <!-- PARTE DE ARRIBA -->
            <div class="overviewInfo">
                <!-- FLECHA Y BOTON -->
                <div class="actions">
                    <div class="backbutton ">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="cartbutton neurobutton">
                        <i class="far fa-star"></i>
                    </div>
                </div>

                <!-- INFO DEL -->
                <div class="productinfo">
                    <div class="grouptext">
                        <h3>BITCOIN</h3>
                        <p>Criptomonedas</p>
                    </div>
                    <div class="grouptext">
                        <h3>NIVEL DE MERCADO</h3>
                        <p>#1</p>
                    </div>
                    
                    <div class="productImage">
                        <img src="../../assets/bitcoin-btc-logo.svg" alt="logo bitcoin" class="logo-btc-card">
                    </div>
                </div>
            </div>

            <!-- PARTE DE ABAJO -->
            <div class="productSpecifications">
                <h1> BITCOIN </h1>
                

                <div class="checkoutButton">
                    <div class="priceTag">
                        <span>$</span>43.650
                    </div>
                    <a [routerLink]="['../swap']">
                        <button class="preorder">
                            <p>SWAP</p>
                            <div class="buttonaction">
                                <i class="fi-rr-arrow-right flecha-order"></i>
                            </div>
                        </button>
                    </a>
                </div>
            </div>
        </div>


        <div class="wrapper">
            <!-- PARTE DE ARRIBA -->
            <div class="overviewInfo">
                <!-- FLECHA Y BOTON -->
                <div class="actions">
                    <div class="backbutton ">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="cartbutton neurobutton">
                        <i class="far fa-star"></i>
                    </div>
                </div>

                <!-- INFO DEL -->
                <div class="productinfo">
                    <div class="grouptext">
                        <h3>ETHEREUM</h3>
                        <p>Criptomonedas</p>
                    </div>
                    <div class="grouptext">
                        <h3>NIVEL DE MERCADO</h3>
                        <p>#2</p>
                    </div>
                    <div class="productImage">
                        <img src="../../assets/ethereum-eth-logo.svg" alt="product: ps5 controller image" class="logo-btc-card">
                    </div>
                </div>
            </div>

            <!-- PARTE DE ABAJO -->
            <div class="productSpecifications">
                <h1> ETHEREUM </h1>
                 <!-- <p> Ethereum se describió por primera vez en un documento técnico de 2013 de Vitalik Buterin. Buterin, junto con otros
                cofundadores, aseguró la financiación del proyecto en una venta pública en línea en el verano de 2014.  </p>  -->


                <div class="checkoutButton">
                    <div class="priceTag">
                        <span>$</span>3.015
                    </div>
                    <a [routerLink]="['../swap']">
                        <button class="preorder">
                            <p>SWAP</p>
                            <div class="buttonaction">
                                <i class="fi-rr-arrow-right flecha-order"></i>
                            </div>
                        </button>
                    </a>
                </div>
            </div>
        </div>


        <div class="wrapper">
            <!-- PARTE DE ARRIBA -->
            <div class="overviewInfo">
                <!-- FLECHA Y BOTON -->
                <div class="actions">
                    <div class="backbutton ">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <div class="cartbutton neurobutton">
                        <i class="far fa-star"></i>
                    </div>
                </div>

                <!-- INFO DEL -->
                <div class="productinfo">
                    <div class="grouptext">
                        <h3>BINANCE COIN</h3>
                        <p>Criptomonedas</p>
                    </div>
                    <div class="grouptext">
                        <h3>NIVEL DE MERCADO</h3>
                        <p>#3</p>
                    </div>
                    <div class="productImage">
                        <img src="../../assets/binance-coin-bnb-logo.svg" alt="logo ethereum" class="logo-eth-card">
                    </div>
                </div>
            </div>

            <!-- PARTE DE ABAJO -->
            <div class="productSpecifications">
                <h1>BNB</h1>
                <!-- <p> Lanzado en julio de 2017, Binance es el mayor intercambio de criptomonedas a nivel mundial en función del volumen de
                negociación diario. Binance tiene como objetivo llevar los intercambios de criptomonedas a la vanguardia de la actividad
                financiera a nivel mundial.  </p> -->


                <div class="checkoutButton">
                    <div class="priceTag">
                        <span>$</span>424
                    </div>
                    <a [routerLink]="['../swap']">
                        <button class="preorder">
                            <p>SWAP</p>
                            
                            <div class="buttonaction">
                                <i class="fi-rr-arrow-right flecha-order"></i>
                            </div>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>