<section>
    <app-navbar-lateral></app-navbar-lateral>


    <main class="container">
        <div class="p-4 p-md-5 mb-4  rounded  card-principal">
            
        </div>

        <div class="p-4 p-md-5 mb-4  rounded  card-principal1">
            <div class="col-md-6 px-0">
                <h1 class="display-4">Dogecoin</h1>
                <p class="lead my-3">Informate sobre esta criptomoneda y mantienete actualizado con su cotizacíon en
                    tiempo real</p>
            </div>
            <div class="div-cotizacion">
                <h4>Cotización actual</h4>
                <p><span>$</span>0.1222</p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Doge y Elon?</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá Elon Musk en doge</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Doge y Elon?</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá Elon Musk en doge</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Sobre la criptomoneda
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Datos en vivo del precio de DOGE</h2>
                    <p class="blog-post-meta">Fecha de hoy actualizada</p>

                    <p>El precio de Dogecoin en vivo hoy es de $0,122209 USD con un volumen de operaciones de 24 horas de $349,153,611 USD.
                    Actualizamos nuestro precio DOGE a USD en tiempo real. Dogecoin ha bajado un 2,36% en las últimas 24 horas. El ranking
                    actual de CoinMarketCap es el n.° 13, con una capitalización de mercado en vivo de $16.213.513.683 USD. Tiene un
                    suministro en circulación de 132.670.764.300 monedas DOGE y el máximo. el suministro no está disponible.</p>
                    <hr>







                </article>

                <article class="blog-post">
                    <h2>¿Qué es Dogecoin (DOGE)?</h2>
                    <p>Dogecoin (DOGE) se basa en el popular meme de Internet "doge" y presenta un Shiba Inu en su logotipo. La moneda digital
                    de código abierto fue creada por Billy Markus de Portland, Oregon y Jackson Palmer de Sydney, Australia, y se bifurcó de
                    Litecoin en diciembre de 2013. Los creadores de Dogecoin la concibieron como una criptomoneda divertida y alegre que
                    tendría un mayor atractivo más allá la audiencia principal de Bitcoin, ya que se basó en un meme de perro. El CEO de
                    Tesla, Elon Musk, publicó varios tuits en las redes sociales de que Dogecoin es su moneda favorita.</p>
                    <hr>
                    
                </article>

                <article class="blog-post">
                    <h2>¿Cómo se extrae Dogecoin?</h2>
                    <p>Dogecoin se diferencia del protocolo de prueba de trabajo de Bitcoin en varios aspectos, uno de los cuales es mediante
                    el uso de la tecnología Scrypt. La altcoin también tiene un tiempo de bloqueo de 1 minuto, y el suministro total no
                    tiene límite, lo que significa que no hay límite para la cantidad de Dogecoin que se pueden extraer. Puedes extraer
                    Dogecoin solo o uniéndote a un grupo de minería. Un minero Doge puede extraer la moneda digital en Windows, Mac o Linux
                    y con una GPU. A partir de 2014, también puede extraer Litecoin en el mismo proceso de extracción de Dogecoin, ya que
                    los procesos se fusionaron.</p>
                    <hr>
                    <h2>¿Para qué se puede utilizar Dogecoin?</h2>
                    <p>Dogecoin se ha utilizado principalmente como un sistema de propinas en Reddit y Twitter para recompensar la creación o
                    el intercambio de contenido de calidad. Puede obtener una propina de Dogecoin al participar en una comunidad que usa la
                    moneda digital, o puede obtener su Dogecoin de un faucet de Dogecoin. Un faucet de Dogecoin es un sitio web que le dará
                    una pequeña cantidad de Dogecoin gratis como introducción a la moneda, para que pueda comenzar a interactuar en las
                    comunidades de Dogecoin.</p>
                    <hr>
                    <h2>¿Cómo puedes comprar Dogecoin?</h2>
                    <p>Puede vender o comprar Dogecoin en cualquier intercambio que ofrezca la moneda digital, almacenarlo en un intercambio o
                    en una billetera Dogecoin, y dar propinas a Dogecoin en cualquier comunidad que acepte Dogecoin. Para obtener la lista
                    más reciente de intercambios y pares comerciales para esta criptomoneda, haga clic en nuestra pestaña de pares de
                    mercado .
</p>
                    <hr>
                    <h2>Elon Musk y Dogecoin</h2>
                    <p>El éxito de Dogecoin está estrechamente relacionado con la pasión de Elon Musk por ella. Musk comenzó a tuitear sobre
                    Dogecoin a principios de 2021, compartiendo un meme de Lion King DOGE . Eso inició un furioso repunte de DOGE, con
                    caídas temporales , que culminó con la aparición de Musk en Saturday Night Live .
                    </p>
                    <p>Después de la aparición en SNL, DOGE se derrumbó a pesar de las promesas de Musk de aumentar su precio . En los meses
                    siguientes, Musk pareció perder interés y el precio de DOGE cayó más del 70% desde su máximo histórico. Sin embargo,
                    Musk todavía tiene poder sobre Dogecoin, como indican los tweets ocasionales .
                    </p>
                    <hr>



                    <h2>Fundación Dogecoin y Junta de Asesores</h2>
                    <p>En 2014, los miembros del equipo de Dogecoin formaron una fundación sin fines de lucro para brindar apoyo, defensa,
                    protección de marcas registradas y gobernanza para el proyecto de criptomonedas. Sin embargo, la fundación se disolvió
                    con el tiempo.</p>
                    <p>Después de varios años de estar inactiva, la fundación se relanzó en 2021 con un "enfoque renovado en apoyar el
                    Ecosistema Dogecoin, la comunidad y promover el futuro de Dogecoin Blockchain". Además de parte del equipo central
                    original, el proyecto ahora cuenta con algunos jugadores experimentados de la industria como parte de su junta de
                    asesores.
                    </p>
                    <p>Según el sitio web de la fundación , los miembros de la junta se reunirán mensualmente para discutir temas relacionados
                    con Dogecoin.</p>
                    <p>En cuanto a sus asesores, el grupo está compuesto por el fundador de Dogecoin, Billy Markus, el desarrollador principal
                    del proyecto, Max Keller, el fundador de Ethereum, Vitalik Buterin, y Elon Musk, representado por el jefe de la oficina
                    familiar de Musk, Jared Birchall.</p>
                    <p>Los miembros de la Junta de Asesores desempeñarán diversas funciones. Mientras que Keller servirá como asesor técnico
                    del proyecto, Markus estará a cargo de la comunidad y los memes. Mientras tanto, Buterin funcionará como asesor de
                    blockchain y criptografía para la fundación, y Birchall representará a Elon Musk como asesor legal y financiero.</p>
                    <p>Como primera tarea, la Junta de Asesores trabajará para asegurar una financiación de tres años que le permita emplear un
                    personal pequeño y dedicado para trabajar en Dogecoin a tiempo completo. Hasta ahora, el trabajo sobre el ecosistema ha
                    sido realizado por voluntarios.
                    </p>
                    <hr>
                </article>





            </div>
            <!-- ====================================== -->

            <!-- AQUI ESTA LA PARTE DEL ASIDE -->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 card-mundo-cripto rounded">
                        <h4 class="fst-italic">Mundo Cripto</h4>
                        <p class="mb-0">Para acceder a las paginas con información del resto de criptomonedas que se
                            manejan en Cata Exchange, le invito a consultar el apartado de "Nombre del apartado ya sea
                            dashboard, swap, etc"</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Estadisticas - DOGE</h4>
                        <ol class="list-unstyled mb-0">
                            <li> Precio:<span class="span-info-aside"> $40,000</span> </li>
                            <li>Ult 24hs:<span class="span-info-aside"> -3.35%</span> </li>
                            <li>Market rank:<span class="span-info-aside"> #1</span> </li>
                            <li>Volume market cap:<span class="span-info-aside"> 0.02791</span> </li>
                            <li>Maximo historico:<span class="span-info-aside"> $68,789 (hace 4 meses)</span> </li>
                            <li>Minimo historico:<span class="span-info-aside"> $65.53 (hace 9 años)</span> </li>
                            <li>Total suply:<span class="span-info-aside"> 18.975.218 BTC</span> </li>
                            <li>Max suply:<span class="span-info-aside"> 21.000.000 BTC</span> </li>

                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Información proporcionada por:</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Coinmarketcap</a></li>
                            <li><a href="#">Pag de info</a></li>
                            <li><a href="#">Pag de info</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>

<app-footer></app-footer>