:root {
    --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
    --gradiente-nuevo: linear-gradient(85deg, #007ad8, #004F8A);
    --lightblue: #004F8A;
    --texto-resalta:#9092bc;
    --purple: purple;
    --text-color: #f8f9fc;
    --fondo-body: #1a1b3f;
    --fondo-oscuro:#0e0c2d;
    --fondo-claro: #43456d;
}

.section__index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fondo-body);
    padding: 2rem 0;
}

.article__section__index {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
}

.article__section__index a {
    text-decoration: none;
    color:var(--texto-resalta);
}

.div__article__titulos {
    text-align: center;
}

.div__article__titulos h2 {
    font-size: 1rem;
    letter-spacing: 3px;
    color: rgb(255, 255, 36);
}

.div__article__titulos h3 {
    font-size: 2rem;
    color: var(--text-color);
}

.div__img__article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.article__card__cripto {
    width: 180px;
    height: 210px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.25 );
    
    border-radius: 10px;
}

.article__card__cripto h4 {
    text-align: center;
    color:var(--text-color);
}

.article__card__cripto img {
    width:6rem;
}



.logo__btc {
    width: 220px;
}

.logo__eth {
    width: 150px;
}

.logo__th {
    width: 180px;
}

.logo__doge {
    width: 140px;
}

@keyframes floate {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

.logo-cripto {
    animation: floate 6s ease-in-out infinite;
}


.article__index__info {
    width: 100%;
    height: 80vh;
    margin: 3rem 5rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article__index__info img {
    width: 500px;
}



.div_article_info {
    text-align: center;
    
}

.div_article_info h2{
    font-size: 1rem;
    letter-spacing: 3px;
    color: rgb(255, 255, 36);
}

.div_article_info h3{
    font-size: 2rem;
    color: var(--text-color);
    padding: 1rem 0;
}

.div_article_info p{
    text-align: right;
    color: var(--text-color);
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.div-go-dashboard {
    width: 100%;
    background: purple;
    color: var(--text-color);
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    padding: 10rem 20%;
    text-align: center;
}

.div-go-dashboard h3 {
    font-size: 1rem;
    letter-spacing: 3px;
    color: rgb(255, 255, 36);
}

.btn-inicar {
    background-color: var(--lightblue);
    color: var(--text-color);
}

.donde-encontrarnos {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    align-items: center;
}

.div-contenedor-mapa-texto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 0;
}

.div-mapa {
    margin: 0 5rem 0 0;
    padding: 3rem;
}

.div-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.h3-amarillo {
    font-size: 1rem;
    letter-spacing: 3px;
    color: rgb(255, 255, 36);
    
}

.fa-twitter {
    color: #00acee;
    font-size: 2rem;
}

.fa-facebook {
    color: #3b5998;
    font-size: 2rem;
}

.fa-instagram {
    color:#E1306C ;
    font-size: 2rem;
}

/* Phone landscape + portrait (iphone x) */
@media (min-width: 321px) and (max-width: 480px) {
    .section__index {
        padding: 3rem 0;
    }

    .article__section__index {
        height: auto;
        padding-bottom: 2rem;
    }

    .article__section__index a {
        font-size: 1.5rem;
    }

    .div__article__titulos h2 {
        font-size: 1.5rem;
    }

    .div__article__titulos h3 {
        font-size: 2rem;
    }

    .div__img__article {
        flex-direction: column;
    }

    .article__card__cripto {
        margin: 1rem 0;
    }

    /* INICIO DE LA PARTE DEL SEGUNDO ARTICLE */
    .article__index__info {
        width: 100%;
        height:auto;
        margin: 3rem 0 0 0;
        padding: 0 1rem;
        flex-direction: column;
    }

    .article__index__info img {
        width: 300px;
    }

    .div_article_info p{
        text-align: left;
    }
}

/* Small tablet portrait con aprox 800 de Height */
@media (min-width: 481px) and (max-width: 600px) {
    .section__index {
        padding: 3rem 0;
    }

    .titulo__principal__article {
        padding: 0 1rem;
    }

    .article__section__index {
        height: auto;
        padding-bottom: 2rem;
    }

    .article__section__index a {
        font-size: 1.5rem;
    }

    .div__article__titulos h2 {
        font-size: 1.5rem;
    }

    .div__article__titulos h3 {
        font-size: 2rem;
    }

    .div__img__article {
        flex-direction: column;
    }

    .article__card__cripto {
        margin: 1rem 0;
    }

        /* INICIO DE LA PARTE DEL SEGUNDO ARTICLE */
    .article__index__info {
        width: 100%;
        height:auto;
        margin: 3rem 0 0 0;
        padding: 0 1rem;
        flex-direction: column;
    }

    .article__index__info img {
        width: 300px;
    }

    .div_article_info p {
        text-align: left;
    }
}


/* // Large tablet portrait (ipad) */
@media (min-width: 601px) and (max-width: 768px) {
    .section__index {
        padding: 3rem 0;
    }

    .article__section__index {
        height: auto;
        padding-bottom: 2rem;
    }

    .article__section__index a {
        font-size: 1.5rem;
    }

    .div__article__titulos h2 {
        font-size: 2rem;
    }

    .div__article__titulos h3 {
        font-size: 3rem;
    }

    .div__img__article {
        flex-direction: column;
    }

    .article__card__cripto {
        margin: 1rem 0;
    }

    .article__card__cripto {
        width: 25rem;
        height: 20rem;
    }

    .article__card__cripto h4 {
        font-size: 3rem ;
    }

    .article__card__cripto img {
        width:10rem;
    }

        /* INICIO DE LA PARTE DEL SEGUNDO ARTICLE */
    .article__index__info {
        width: 100%;
        height:auto;
        margin: 3rem 0 0 0;
        padding: 0 2rem;
        flex-direction: column;
    }

    .article__index__info img {
        width: 400px;
    }

    .div_article_info h2 {
        font-size: 1.8rem;
    }

    .div_article_info h3 {
        font-size: 2.5rem;
    }

    .div_article_info p{
        text-align: left;
        font-size: 1.7rem;
    }
}


/* // Notebook - Tablet Landscape + (ipad pro con aprox 1366 de H) */
@media (min-width: 769px) and (max-width: 1024px) {
    .section__index {
        padding: 3rem 0;
    }

    .article__section__index {
        height: auto;
        padding-bottom: 2rem;
    }

    .article__section__index a {
        font-size: 1.5rem;
    }

    .div__article__titulos h2 {
        font-size: 2rem;
    }

    .div__article__titulos h3 {
        font-size: 3rem;
    }

    .div__img__article {
        flex-direction: column;
    }

    .article__card__cripto {
        margin: 1rem 0;
    }

    .article__card__cripto {
        width: 25rem;
        height: 20rem;
    }

    .article__card__cripto h4 {
        font-size: 3rem ;
    }

    .article__card__cripto img {
        width:10rem;
    }

            /* INICIO DE LA PARTE DEL SEGUNDO ARTICLE */
    .article__index__info {
        width: 100%;
        height:auto;
        margin: 3rem 0 0 0;
        padding: 0 2rem;
        flex-direction: column;
    }

    .article__index__info img {
        width: 400px;
    }

    .div_article_info h2 {
        font-size: 1.8rem;
    }

    .div_article_info h3 {
        font-size: 2.5rem;
    }

    .div_article_info p{
        text-align: left;
        font-size: 1.7rem;
    }
}