<section class="section__index">


    <!-- ARTICLE TOP MARKET  -->
    <article class="article__section__index">
        <div class="div__article__titulos">
            <h2 class="titulo__pequeño__article">TOP MARKET</h2>
            <h3 class="titulo__principal__article">Obten cripto con pasos super sencillos!</h3>
        </div>

        <div class="div__img__article" >
            <div class="article__card__cripto">
                <h4>Bitcoin</h4>
                <img src="../../assets/bitcoin-btc-logo.svg" class="logo-cripto">
            </div>
            <div class="article__card__cripto">
                <h4>Theter</h4>
                <img src="../../assets/tether-usdt-logo.svg" class="logo-cripto">
            </div>
            <div class="article__card__cripto">
                <h4>Binance Coin</h4>
                <img src="../../assets/binance-coin-bnb-logo.svg" class="logo-cripto">
            </div>
            <div class="article__card__cripto">
                <h4>Dogecoin</h4>
                <img src="../../assets/dogecoin-doge-logo.svg" class="logo-cripto">
            </div>
        </div>
        <a [routerLink]="['dasboard']" class="link-consulta-dash">Consulta el dashboard</a>
    </article>


    <app-quienes-somos></app-quienes-somos>

    <!-- ARTICLE SOBRE LA APP -->
    <article class="article__index__info">
        <img src="../../assets/logo.png" >
        <div class="div_article_info" >
            <h3>SOBRE LA APP</h3>
            <h2>Algunas de las cosas que podes realizar</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium maiores aperiam aliquam
                rerum tenetur, sunt, dolorum nam facere nulla in, distinctio adipisci nihil maxime dicta vitae ipsum
                tempore ullam.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quod ullam, ducimus esse est natus odio eum
                blanditiis, at similique eaque porro sequi accusamus explicabo reiciendis ab molestiae quidem? Enim!</p>
        </div>
    </article>

    <article class="div-go-dashboard">
        <h3>TENES DUDAS?</h3>
        <h2>DASHBOARD, CRIPTO, TUTORIALES</h2>
        <p>Para poder chequear el estado de tu billetera, cotizaciones de tus criptomonedas favoritas en tiempo real, comprar o vender tus token, o simplemente intercambiarlos, te invitamos a visitar el dashboard. Tambien encontraras una serie de tutoriales que te ayudaran a utilizar la aplicacíon de manera óptima</p>
        <button type="button" class="btn btn-inicar btn-lg">Dashboard</button>
    </article>

    <article class="donde-encontrarnos">
            <h3 class="h3-amarillo">DEVELOPER TEAM</h3>
            <h2 >DONDE ENCONTRARNOS</h2>
            <div class="div-contenedor-mapa-texto">
                <div class="div-mapa">
                    <iframe class="map" 
                    src="https://www.openstreetmap.org/export/embed.html?bbox=-65.78112512826921%2C-28.469978686626565%2C-65.77758461236955%2C-28.467922628871804&amp;layer=mapnik"></iframe>
                </div>
                
                <div class="div-texto">
                    
                    <h2>QUIERES CONTACTARNOS?</h2>
                    <h4>Info de contacto</h4>
                    <ul>
                        <li>Teléfono: 3834123132</li>
                        <li>Ubicación: Calle siempre viva 420</li>
                        <li>Mail: thebestdevelopers@gmail.com</li>
                        <li>O en nuestras redes sociales:</li>
                    </ul>
                    <div class="logo-redes">
                        <ul class="list-unstyled d-flex">
                            <li class="ms-3"><a class="link-dark" href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                            <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                            <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
                    
                </div>
                
            
            
    </article>
</section>