<section>
    <app-navbar-lateral></app-navbar-lateral>


    <main class="container">
        <div class="p-4 p-md-5 mb-4  rounded  card-principal">
            
        </div>


        <div class="p-4 p-md-5 mb-4  rounded  card-principal1">
            <div class="col-md-6 px-0">
                <h1 class="display-4">Binance Coin</h1>
                <p class="lead my-3">Informate sobre esta criptomoneda y mantienete actualizado con su cotizacíon en
                    tiempo real</p>
            </div>
            <div class="div-cotizacion">
                <h4>Cotización actual</h4>
                <p><span>$</span>40.000</p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Bitcoin y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            bitcoin?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">Bitcoin y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            bitcoin?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Sobre la criptomoneda
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Datos en vivo del precio de BTC</h2>
                    <p class="blog-post-meta">Fecha de hoy actualizada</p>

                    <p>El precio de Bitcoin en vivo hoy es de $39.380,68 USD con un volumen de operaciones de 24 horas
                        de $20.853.566.854 USD.
                        Actualizamos nuestro precio de BTC a USD en tiempo real. Bitcoin ha bajado un 3,43% en las
                        últimas 24 horas. El ranking
                        actual de CoinMarketCap es el número 1, con una capitalización de mercado en vivo de
                        $747.256.906.484 USD. Tiene un
                        suministro circulante de 18.975.218 monedas BTC y un máx. suministro de 21.000.000 de monedas
                        BTC.</p>
                    <hr>







                </article>

                <article class="blog-post">
                    <h2>¿Qué es Bitcoin (BTC)?</h2>
                    <p>Bitcoin es una criptomoneda descentralizada descrita originalmente en un documento técnico de
                        2008 por una persona, o
                        grupo de personas, utilizando el alias Satoshi Nakamoto . Fue lanzado poco después, en enero de
                        2009.</p>
                    <hr>
                    <p>Bitcoin es una moneda en línea peer-to-peer, lo que significa que todas las transacciones se
                        realizan directamente
                        entre
                        participantes de la red iguales e independientes, sin la necesidad de que ningún intermediario
                        las permita o
                        facilite.
                        Bitcoin se creó, según las propias palabras de Nakamoto, para permitir que “los pagos en línea
                        se envíen
                        directamente de
                        una parte a otra sin pasar por una institución financiera”.</p>
                    <hr>
                    <p>Algunos conceptos para un tipo similar de moneda electrónica descentralizada preceden a BTC, pero
                        Bitcoin tiene la
                        distinción de ser la primera criptomoneda en entrar en uso real.</p>
                    <hr>

                </article>

                <article class="blog-post">
                    <h2>¿Quiénes son los fundadores de Bitcoin?</h2>
                    <p>El inventor original de Bitcoin es conocido bajo el seudónimo de Satoshi Nakamoto. A partir de
                        2021, se desconoce la
                        verdadera identidad de la persona, u organización, que está detrás del alias.</p>
                    <hr>
                    <p>El 31 de octubre de 2008, Nakamoto publicó el documento técnico de Bitcoin, que describía en
                        detalle cómo se podría
                        implementar una moneda en línea de igual a igual. Propusieron utilizar un libro mayor
                        descentralizado de transacciones
                        empaquetado en lotes (llamados "bloques") y asegurado por algoritmos criptográficos; todo el
                        sistema se denominaría más
                        tarde " blockchain ".</p>
                    <hr>
                    <p>Apenas dos meses después, el 3 de enero de 2009, Nakamoto minó el primer bloque de la red
                        Bitcoin, conocido como bloque
                        génesis , lanzando así la primera criptomoneda del mundo. El precio de Bitcoin era de $0 cuando
                        se introdujo por primera
                        vez, y la mayoría de los Bitcoins se obtuvieron a través de la minería, que solo requería
                        dispositivos moderadamente
                        potentes (por ejemplo, PC) y software de minería. La primera transacción comercial conocida de
                        Bitcoin se produjo el 22
                        de mayo de 2010, cuando el programador Laszlo Hanyecz intercambió 10.000 Bitcoins por dos
                        pizzas. Al precio de Bitcoin
                        hoy a mediados de septiembre de 2021, esas pizzas valdrían la asombrosa cantidad de $ 478
                        millones. Este evento ahora se
                        conoce como "Día de la pizza de Bitcoin". En julio de 2010, Bitcoin comenzó a cotizar por
                        primera vez, con un precio de
                        Bitcoin que oscilaba entre $ 0,0008 y $ 0,08 en ese momento.</p>
                    <hr>
                    <p>Sin embargo, aunque Nakamoto fue el inventor original de Bitcoin, así como el autor de su primera
                        implementación, le
                        entregó la clave de alerta de red y el control del repositorio de código a Gavin Andresen, quien
                        más tarde se convirtió
                        en desarrollador principal de la Fundación Bitcoin. A lo largo de los años, un gran número de
                        personas han contribuido a
                        mejorar el software de las criptomonedas reparando vulnerabilidades y agregando nuevas
                        funciones.</p>
                    <hr>
                    <p>El repositorio de código fuente de Bitcoin en GitHub enumera más de 750 colaboradores, y algunos
                        de los principales son
                        Wladimir J. van der Laan, Marco Falke, Pieter Wuille, Gavin Andresen, Jonas Schnelli y otros.
                    </p>
                    <hr>
                    <p>¿Qué hace que Bitcoin sea único?
                        La ventaja más singular de Bitcoin proviene del hecho de que fue la primera criptomoneda que
                        apareció en el mercado.</p>
                    <hr>
                    <p>Ha logrado crear una comunidad global y dar a luz a una industria completamente nueva de millones
                        de entusiastas que
                        crean, invierten, intercambian y usan Bitcoin y otras criptomonedas en su vida cotidiana. El
                        surgimiento de la primera
                        criptomoneda ha creado una base conceptual y tecnológica que posteriormente inspiró el
                        desarrollo de miles de proyectos
                        en competencia.</p>
                    <hr>
                    <p>Todo el mercado de criptomonedas , que ahora vale más de $ 2 billones, se basa en la idea
                        realizada por Bitcoin: dinero
                        que cualquier persona, en cualquier parte del mundo, puede enviar y recibir sin depender de
                        intermediarios confiables,
                        como bancos y empresas de servicios financieros.</p>
                    <hr>
                    <p>Gracias a su carácter pionero, BTC se mantiene en la cima de este mercado energético después de
                        más de una década de
                        existencia. Incluso después de que Bitcoin perdió su dominio indiscutible, sigue siendo la
                        criptomoneda más grande , con
                        una capitalización de mercado que superó la marca de $ 1 billón en 2021, luego de que el precio
                        de Bitcoin alcanzara un
                        máximo histórico de $ 64,863.10 el 14 de abril de 2021. Esto se debe en gran medida parte del
                        creciente interés
                        institucional en Bitcoin y la ubicuidad de las plataformas que brindan casos de uso para BTC:
                        billeteras , intercambios,
                        servicios de pago, juegos en línea y más.</p>
                    <hr>
                </article>





            </div>
            <!-- ====================================== -->

            <!-- AQUI ESTA LA PARTE DEL ASIDE -->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 card-mundo-cripto rounded">
                        <h4 class="fst-italic">Mundo Cripto</h4>
                        <p class="mb-0">Para acceder a las paginas con información del resto de criptomonedas que se
                            manejan en Cata Exchange, le invito a consultar el apartado de "Nombre del apartado ya sea
                            dashboard, swap, etc"</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Estadisticas - BTC</h4>
                        <ol class="list-unstyled mb-0">
                            <li> Precio:<span class="span-info-aside"> $40,000</span> </li>
                            <li>Ult 24hs:<span class="span-info-aside"> -3.35%</span> </li>
                            <li>Market rank:<span class="span-info-aside"> #1</span> </li>
                            <li>Volume market cap:<span class="span-info-aside"> 0.02791</span> </li>
                            <li>Maximo historico:<span class="span-info-aside"> $68,789 (hace 4 meses)</span> </li>
                            <li>Minimo historico:<span class="span-info-aside"> $65.53 (hace 9 años)</span> </li>
                            <li>Total suply:<span class="span-info-aside"> 18.975.218 BTC</span> </li>
                            <li>Max suply:<span class="span-info-aside"> 21.000.000 BTC</span> </li>

                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Información proporcionada por:</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Coinmarketcap</a></li>
                            <li><a href="#">Pag de info</a></li>
                            <li><a href="#">Pag de info</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>

<app-footer></app-footer>