/* :root {
    --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
    --gradiente-nuevo: linear-gradient(85deg, #007ad8, #004F8A);
    --lightblue: #004F8A ;
    --texto-resalta:#0091ff;
    --darkblue: #ef5777;
    --text-color: #d5e1ef;
    --nuevo-fondo-body: #282A4C;

    --nuevo-oscuro: #181C37;
    --nuevo-claro: #3e4283;
    --nuevo-texto: #dfe2eb;
}
section {
    background: var(--nuevo-fondo-body);
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    color: var(--nuevo-texto);
}

.info-bitcoin {
    background-color: var(--nuevo-fondo-body);
    width: 100%;
    height: 100vh;
}

.div-logo-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    

}

.titulo-precio-cripto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 0 0;
    padding: 0 10rem 0 3rem;
}

.logo-principal {
    width: 5rem;
    margin: 0 1rem 0 0;
} */

article {
    width: 100%;
    background: purple;
    color: white;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    padding: 10rem 20%;
}