<!-- <section>
    <app-navbar-lateral></app-navbar-lateral>
    <article class="info-bitcoin">
        <div class="titulo-precio-cripto">
            <div class="div-logo-titulo">
                <img src="../../assets/bitcoin-btc-logo.svg" alt="logo de bitcoin" class="logo-principal">
                <h2>BITCOIN</h2>
            </div>
            
            <div>
                <h3>Precio actual</h3>
                <p><span>$</span>42000</p>
            </div>
        </div>
        
    </article>
</section> -->

<article>
    <h1>asdasdd</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ex beatae magnam consequuntur provident fugiat eligendi impedit voluptatum qui possimus. Inventore ullam unde illum impedit aliquid dicta placeat fugit nesciunt.</p>
</article>