<!--<form class="form-group container" autocomplete="off" [formGroup]="form">
    <div>
        <label for="nombres">Nombres</label>
        <input class="form-control" type="text" id="nombres" placeholder="Tus nombres">
    </div>

    <div>
        <label for="apellidos">Apellidos</label>
        <input class="form-control" type="text" id="apellidos" placeholder="Tus apellidos">
    </div>
    
    <div>
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" placeholder="correo@correo.com">
    </div>
    
    <div>
        <label for="contraseña">Contraseña</label>
        <input class="form-control" type="password" id="contraseña" placeholder="Elige una contraseña">
    </div>
    
    <div>
        <label for="contraseñaRepita">Contraseña</label>
        <input class="form-control" type="password" id="contraseñaRepita" placeholder="Repite tu contraseña">   
    </div>
    
    <div>
        <label for="dni">DNI</label>
        <input class="form-control" type="text" id="dni" placeholder="Tu DNI">
    </div>

    <div>
        <label for="edad">Ingrese fecha de nacimiento</label>
        <input class="form-control" type="date" id="edad" placeholder="Tu Edad">
    </div>
    
    <div>
    <label>
        <input type="checkbox" value="remember-me" id="terminos"> Acepto todos los términos y condiciones
      </label>
    </div>

    <div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar</button>
    </div>
     
    

</form>-->

<form [formGroup]="form" (ngSubmit)="save($event)">
    
  <p>
    Nombre: <br/>
    <input type="text" formControlName="nombre"> <!---nombre del objeto en forcontrolname-->
  </p>
  <div *ngIf="form.get('nombre')?.errors && form.get('nombre')?.touched">
    <p *ngIf="form.get('nombre')?.hasError('required')">
        Campo obligatorio.
    </p>
    <p *ngIf="form.get('nombre')?.hasError('minlength')">
      El nombre debe tener como mínimo 4 letras.
    </p>
    <p *ngIf="form.get('nombre')?.hasError('pattern')">
        Nombre inválido (Sólo debe contener letras).
    </p>
</div>

<p>
  Apellido: <br/>
  <input type="text" formControlName="apellido"> <!---nombre del objeto en forcontrolname-->
</p>
<div *ngIf="form.get('apellido')?.errors && form.get('apellido')?.touched">
  <p *ngIf="form.get('apellido')?.hasError('required')">
      Campo obligatorio.
  </p>
  <p *ngIf="form.get('apellido')?.hasError('minlength')">
    El apellido debe tener como minimo tres letras.
  </p>
  <p *ngIf="form.get('apellido')?.hasError('pattern')">
    Apellido inválido (Sólo debe contener letras).
</p>
</div>


<p>
  DNI: <br/>
  <input type="text" formControlName="dni"> <!---nombre del objeto en forcontrolname-->
</p>
<div *ngIf="form.get('dni')?.errors && form.get('dni')?.touched">
  <p *ngIf="form.get('dni')?.hasError('required')">
      Campo obligatorio.
  </p>
  <p *ngIf="form.get('dni')?.hasError('minlength')">
    El dni debe tener como minimo ocho números.
  </p>

</div>

    <p>
      Fecha: <br/>
      <input type="date" formControlName="date">
    </p>
    <p>
      Email: <br/>
      <input type="email" formControlName="email">
    </p>
    <div *ngIf="form.get('email')?.errors && form.get('email')?.touched">
        <p *ngIf="form.get('email')?.hasError('required')">
            Es un campo requerido
        </p>
        <p *ngIf="form.get('email')?.hasError('email')">
            No es un email.
        </p>
    </div>

    <p>
      Contraseña: <br/>
      <input type="password" formControlName="contraseña" minlength="8" maxlength="16"> <!---nombre del objeto en forcontrolname-->
    </p>
    <div *ngIf="form.get('contraseña')?.errors && form.get('contraseña')?.touched">
      <p *ngIf="form.get('contraseña')?.hasError('required')">
          Campo obligatorio.
      </p>
      <p *ngIf="form.get('contraseña')?.hasError('minlength')">
        La contraseña debe tener como minimo ocho caracteres.
      </p>
      <p *ngIf="form.get('contraseña')?.hasError('maxlength')">
        La contraseña debe tener como máximo quince caracteres.
    </p>
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Guardar</button> 
  </form>
