<form class="form-group container" autocomplete="off" [formGroup]="form">
    <div>
        <label for="nombres">Nombres</label>
        <input autocomplete="off" class="form-control" type="text" id="nombres" placeholder="Tus nombres">
    </div>

    <div>
        <label for="apellidos">Apellidos</label>
        <input class="form-control" type="text" id="apellidos" placeholder="Tus apellidos">
    </div>
    
    <div>
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" placeholder="correo@correo.com">
    </div>
    
    <div>
        <label for="contraseña">Contraseña</label>
        <input class="form-control" type="password" id="contraseña" placeholder="Elige una contraseña">
    </div>
    
    <div>
        <label for="contraseñaRepita">Contraseña</label>
        <input class="form-control" type="password" id="contraseñaRepita" placeholder="Repite tu contraseña">   
    </div>
    
    <div>
        <label for="dni">DNI</label>
        <input class="form-control" type="text" id="dni" placeholder="Tu DNI">
    </div>

    <div>
        <label for="edad">Ingrese fecha de nacimiento</label>
        <input class="form-control" type="date" id="edad" placeholder="Tu Edad">
    </div>
    
    <div>
    <label>
        <input type="checkbox" value="remember-me" id="terminos"> Acepto todos los términos y condiciones
      </label>
    </div>

    <div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar</button>
    </div>
     
    

</form>
