<section>
    <app-navbar-lateral></app-navbar-lateral>


    <main class="container">
        <div class="p-4 p-md-5 mb-4  rounded  card-principal">
            
        </div>

        <div class="p-4 p-md-5 mb-4  rounded  card-principal1">
            <div class="col-md-6 px-0">
                <h1 class="display-4">Theter</h1>
                <p class="lead my-3">Informate sobre esta criptomoneda y mantienete actualizado con su cotizacíon en
                    tiempo real</p>
            </div>
            <div class="div-cotizacion">
                <h4>Cotización actual</h4>
                <p><span>$</span>1.00</p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">USDT y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            usdt?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  position-relative card-news-completa">
                    <div class="col p-4 d-flex flex-column position-static texto-card-news">
                        <strong class="d-inline-block mb-2 strong-news">News</strong>
                        <h3 class="mb-0">USDT y la guerra</h3>
                        <div class="mb-1 text-muted">Marzo 1</div>
                        <p class="card-text mb-auto">Que efecto tendrá la guerra de Rusia y Ucrania en el valor del
                            usdt?</p>
                        <a href="https://www.criptonoticias.com/opinion/guerra-financian-bancos-gobiernos-no-bitcoin/"
                            class="stretched-link" target="blank">Seguir leyendo..</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>

                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Sobre la criptomoneda
                </h3>

                <article class="blog-post">
                    <h2 class="blog-post-title">Datos en vivo del precio de USDT</h2>
                    <p class="blog-post-meta">Fecha de hoy actualizada</p>

                    <p>El precio de Tether en vivo hoy es de $1,00 USD con un volumen de operaciones de 24 horas de $40.769.108.679 USD.
                    Actualizamos nuestro precio USDT a USD en tiempo real. Tether ha caído un 01% en las últimas 24 horas. El ranking actual
                    de CoinMarketCap es el #3, con una capitalización de mercado en vivo de $79.744.986.809 USD. Tiene un suministro en
                    circulación de 79.713.056.448 monedas USDT y el máximo. el suministro no está disponible.
</p>
                    <hr>







                </article>

                <article class="blog-post">
                    <h2>¿Qué es Tether (USDT)?
</h2>
                    <p>USDT es una moneda estable ( criptomoneda de valor estable) que refleja el precio del dólar estadounidense, emitida por
                    Tether, una empresa con sede en Hong Kong. La vinculación del token al USD se logra mediante el mantenimiento de una
                    suma de papel comercial, depósitos fiduciarios, efectivo, notas repo de reserva y letras del Tesoro en reservas que es
                    igual en valor en USD al número de USDT en circulación.
</p>
                    <hr>
                    <p>Lanzado originalmente en julio de 2014 como Realcoin, un token de criptomoneda de segunda capa construido sobre la
                    cadena de bloques de Bitcoin mediante el uso de la plataforma Omni, luego se le cambió el nombre a USTether y,
                    finalmente, a USDT. Además de Bitcoin, USDT se actualizó más tarde para trabajar en las cadenas de bloques Ethereum ,
                    EOS , Tron , Algorand y OMG .
</p>
                    <hr>
                    <p>El propósito declarado de USDT es combinar la naturaleza sin restricciones de las criptomonedas, que pueden enviarse
                    entre usuarios sin un tercero intermediario de confianza, con el valor estable del dólar estadounidense.
</p>
                    <hr>
                    <p>Las monedas estables se utilizan cada vez más como cobertura contra la inflación en los últimos tiempos; En comparación
                    con mantener moneda fiduciaria en una cuenta de ahorros con un promedio de 0,06 %, los usuarios pueden prestar sus
                    monedas estables y obtener rendimientos que van desde el 3 % hasta el 20 %. Sin embargo, tenga en cuenta los riesgos
                    regulatorios, de plataforma y más.
</p>
                    <hr>
                </article>

                <article class="blog-post">
                    <h2>¿Quiénes son los fundadores de Tether?
</h2>
                    <p>USDT, o como se le conocía en ese momento, Realcoin, fue lanzado en 2014 por Brock Pierce, Reeve Collins y Craig
                    Sellars.
</p>
                    <hr>
                    <p>Brock Pierce es un conocido empresario que cofundó una serie de proyectos de alto perfil en las industrias de
                    criptografía y entretenimiento. En 2013, cofundó una empresa de capital de riesgo, Blockchain Capital, que para 2017
                    había recaudado más de 80 millones de dólares en financiación. En 2014, Pierce se convirtió en director de la Fundación
                    Bitcoin, una organización sin fines de lucro establecida para ayudar a mejorar y promover Bitcoin. Pierce también
                    cofundó Block.one, la compañía detrás de EOS, una de las criptomonedas más grandes del mercado.
</p>
                    <hr>
                    <p>Reeve Collins fue el director ejecutivo de Tether durante los primeros dos años de su existencia. Antes de eso, cofundó
                    varias empresas exitosas, como la red publicitaria en línea Traffic Marketplace, el estudio de entretenimiento RedLever
                    y el sitio web de apuestas Pala Interactive. A partir de 2020, Collins dirige SmarMedia Technologies, una empresa de
                    tecnología de marketing y publicidad.
</p>
                    <hr>
                    <p>Sin embargo, aunque Nakamoto fue el inventor original de Bitcoin, así como el autor de su primera
                        implementación, le
                        entregó la clave de alerta de red y el control del repositorio de código a Gavin Andresen, quien
                        más tarde se convirtió
                        en desarrollador principal de la Fundación Bitcoin. A lo largo de los años, un gran número de
                        personas han contribuido a
                        mejorar el software de las criptomonedas reparando vulnerabilidades y agregando nuevas
                        funciones.</p>
                    <hr>
                    <p>Además de trabajar en Tether, Craig Sellars ha sido miembro de la Fundación Omni durante más de seis años. Su Protocolo
                    Omni permite a los usuarios crear y comercializar propiedades y monedas basadas en contratos inteligentes además de la
                    cadena de bloques de Bitcoin. Sellars también ha trabajado en varias otras empresas y organizaciones de criptomonedas,
                    como Bitfinex, Factom, Synereo y MaidSafe Foundation.

                    </p>
                    <hr>

                    <h2>¿Qué hace que Tether sea único?
</h2>
                    <p>La característica única de USDT es el hecho de que Tether garantiza que su valor permanecerá vinculado al dólar
                    estadounidense. Según Tether, cada vez que emite nuevos tokens USDT, asigna la misma cantidad de USD a sus reservas, lo
                    que garantiza que USDT esté completamente respaldado por efectivo y equivalentes de efectivo.
</p>
                    <hr>
                    <p>La famosa alta volatilidad de los criptomercados significa que las criptomonedas pueden subir o bajar entre un 10 y un
                    20 % en un solo día, lo que las hace poco confiables como depósito de valor. USDT, por otro lado, está protegido de
                    estas fluctuaciones.
</p>
                    <hr>
                    <p>Esta propiedad convierte al USDT en un refugio seguro para los criptoinversionistas: durante los períodos de alta
                    volatilidad, pueden estacionar sus carteras en Tether sin tener que retirar dinero por completo en USD. Además, USDT
                    proporciona una forma sencilla de realizar transacciones equivalentes en dólares estadounidenses entre regiones, países
                    e incluso continentes a través de blockchain, sin tener que depender de un intermediario lento y costoso, como un banco
                    o un proveedor de servicios financieros.
</p>
                    <hr>
                    <p>Sin embargo, a lo largo de los años, ha habido una serie de controversias con respecto a la validez de las afirmaciones
                    de Tether sobre sus reservas de USD, lo que a veces interrumpió el precio de USDT, que bajó hasta $0,88 en un momento de
                    su historia. Muchos han expresado su preocupación por el hecho de que las reservas de Tether nunca han sido auditadas
                    por completo por un tercero independiente.
</p>
                    <hr>
                    <p>¿De qué se trata Tether FUD? Tether ha sido el objetivo de una gran cantidad de FUD debido a su balance general turbio y
                    la falta de una auditoría pública. La compañía ha sido multada repetidamente por declaraciones engañosas sobre el estado
                    de sus libros. Después de que Tether publicara un primer desglose de sus saldos, fue objeto de un escrutinio aún mayor
                    por parte de los reguladores por sus afirmaciones de que todas las monedas estables emitidas están totalmente
                    respaldadas por reservas en dólares.
</p>
                    <hr>
                    <p>A pesar de que un informe supuestamente absolvió a Tether de cualquier acusación de irregularidades, quedan dudas. La
                    compañía ha estado en repetidas disputas sobre sus prácticas comerciales, pero la mayoría en cripto acepta que Tether
                    es, en cierto modo, "demasiado grande para fallar".
</p>

                    <hr>

                    <h2>¿Cuántas monedas Tether (USDT) hay en circulación?
</h2>
                    <p>No existe un límite codificado en el suministro total de USDT; dado que pertenece a una empresa privada, en teoría, su
                    emisión está limitada solo por las propias políticas de Tether. Sin embargo, debido a que Tether afirma que se supone
                    que cada USDT está respaldado por un dólar estadounidense, la cantidad de tokens está limitada por las reservas de
                    efectivo reales de la empresa.
</p>
                    <hr>
                    <p>Además, Tether no revela sus calendarios de emisión con anticipación. En cambio, proporcionan informes de transparencia
                    diarios, enumerando el monto total de sus reservas de activos y pasivos, este último correspondiente a la cantidad de
                    USDT en circulación.
</p>
                    <hr>
                    <p>A partir de septiembre de 2020, hay más de 14 400 millones de tokens USDT en circulación, que están respaldados por 14
                    600 millones de dólares en activos, según Tether.
</p>
                    <hr>
                    
                    <h2>¿Cómo se asegura la red Tether?
</h2>
                    <p>USDT no tiene su propia cadena de bloques; en cambio, funciona como un token de segunda capa sobre las cadenas de
                    bloques de otras criptomonedas: Bitcoin, Ethereum, EOS, Tron, Algorand, Bitcoin Cash y OMG, y está protegido por sus
                    respectivos algoritmos hash.
</p>

                    <hr>

                </article>





            </div>
            <!-- ====================================== -->

            <!-- AQUI ESTA LA PARTE DEL ASIDE -->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 card-mundo-cripto rounded">
                        <h4 class="fst-italic">Mundo Cripto</h4>
                        <p class="mb-0">Para acceder a las paginas con información del resto de criptomonedas que se
                            manejan en Cata Exchange, le invito a consultar el apartado de "Nombre del apartado ya sea
                            dashboard, swap, etc"</p>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Estadisticas - USDT</h4>
                        <ol class="list-unstyled mb-0">
                            <li> Precio:<span class="span-info-aside"> $40,000</span> </li>
                            <li>Ult 24hs:<span class="span-info-aside"> -3.35%</span> </li>
                            <li>Market rank:<span class="span-info-aside"> #1</span> </li>
                            <li>Volume market cap:<span class="span-info-aside"> 0.02791</span> </li>
                            <li>Maximo historico:<span class="span-info-aside"> $68,789 (hace 4 meses)</span> </li>
                            <li>Minimo historico:<span class="span-info-aside"> $65.53 (hace 9 años)</span> </li>
                            <li>Total suply:<span class="span-info-aside"> 18.975.218 BTC</span> </li>
                            <li>Max suply:<span class="span-info-aside"> 21.000.000 BTC</span> </li>

                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Información proporcionada por:</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Coinmarketcap</a></li>
                            <li><a href="#">Pag de info</a></li>
                            <li><a href="#">Pag de info</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </main>

</section>

<app-footer></app-footer>