<div class="contenedor-swap">
    <app-navbar-lateral></app-navbar-lateral>

    <div class="contenedor-column-no-nav">

        <article>
            <div class="  grid-cripto-cotizaciones" >
                <div class="div-balance">
                    <h3>Aquí podrás realizar tus operaciones cripto</h3>
                    <p>Para consultar los balances de sus tokens y sus últimos movimientos <a href="">visite su billetera</a></p>
                </div>
                <div class="contenedor-cards-swap">

                    <div class="contenedor-cards">
                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="../../assets/bitcoin-btc-logo.svg">
                                <h4>BTC</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span>4000</p>
                                <p>Ult. 24hs: +3%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="../../assets/dogecoin-doge-logo.svg">
                                <h4>DOGE</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span>4000</p>
                                <p>Ult. 24hs: +3%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="../../assets/binance-coin-bnb-logo.svg">
                                <h4>BNB</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span>4000</p>
                                <p>Ult. 24hs: +3%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="../../assets/cardano-ada-logo.svg">
                                <h4>ADA</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span>4000</p>
                                <p>Ult. 24hs: +3%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="../../assets/ethereum-eth-logo.svg">
                                <h4>ETH</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span>4000</p>
                                <p>Ult. 24hs: +3%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="../../assets/multi-collateral-dai-dai-logo.svg">
                                <h4>DAI</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span>4000</p>
                                <p>Ult. 24hs: +3%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="../../assets/solana-sol-logo.svg">
                                <h4>SOL</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span>4000</p>
                                <p>Ult. 24hs: +3%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="../../assets/smooth-love-potion-slp-logo.svg">
                                <h4>SLP</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span>4000</p>
                                <p>Ult. 24hs: +3%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="../../assets/tether-usdt-logo.svg">
                                <h4>USDT</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span>4000</p>
                                <p>Ult. 24hs: +3%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="../../assets/bitcoin-btc-logo.svg">
                                <h4>Bitcoin</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span>4000</p>
                                <p>Ult. 24hs: +3%</p>
                            </div>
                        </div>
                        
                    </div>
        
        
        
        
        
        
                    <div class="swap sticky-top">
                        <h3>SWAP</h3>
                        <div class="swap-moneda-arriba">
                            <div>
                                <img src="../../assets/logo-peso.png">
                                <p>Peso Argentino</p>
                            </div>
        
                            <input type="number" id="peso-arg" >
                        </div>
        
                        <i class="fas fa-exchange-alt awesome"></i>
        
                        <div class="swap-moneda-abajo">
                            <div>
                                <img src="../../assets/tether-usdt-logo.svg">
                                <p>USDT</p>
                            </div>
                            <input type="number" id="dolares">
                        </div>
                        <button class="btn-confirmar-swap">
                            <p>Confirmar transacción</p>
                        </button>
                    </div>
                </div>
        
            </div>
        </article>
    

    
    </div>
</div>
<app-footer></app-footer>

