<div class="contenedor-swap">
    <app-navbar-lateral></app-navbar-lateral>

    <div class="contenedor-column-no-nav">

        <article>
            <div class="  grid-cripto-cotizaciones" >
                <div class="div-balance">
                    <h3>Aquí podrás realizar tus operaciones cripto</h3>
                    <p>Para consultar los balances de sus tokens y sus últimos movimientos <a href="">visite su billetera</a></p>
                </div>
                <div class="contenedor-cards-swap">

                    <div class="contenedor-cards">

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="{{criptomonedas[0].image}}">
                                <h4>{{criptomonedas[0].symbol.toUpperCase()}}</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span> {{formatoPrecio(criptomonedas[0].current_price).toString().slice(3)}}</p>
                                <p>Ult. 24hs: <span>{{criptomonedas[0].price_change_percentage_24h.toString().slice(0, 4)}}%</span></p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="{{criptomonedas[1].image}}">
                                <h4>{{criptomonedas[1].symbol.toUpperCase()}}</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span> {{formatoPrecio(criptomonedas[1].current_price).toString().slice(3)}}</p>
                                <p>Ult. 24hs: {{criptomonedas[1].price_change_percentage_24h.toString().slice(0, 4)}}%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="{{criptomonedas[2].image}}">
                                <h4>{{criptomonedas[2].symbol.toUpperCase()}}</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span> {{formatoPrecio(criptomonedas[2].current_price).toString().slice(3)}}</p>
                                <p>Ult. 24hs: {{criptomonedas[2].price_change_percentage_24h.toString().slice(0, 4)}}%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="{{criptomonedas[3].image}}">
                                <h4>{{criptomonedas[3].symbol.toUpperCase()}}</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span> {{formatoPrecio(criptomonedas[3].current_price).toString().slice(3)}}</p>
                                <p>Ult. 24hs: {{criptomonedas[3].price_change_percentage_24h.toString().slice(0, 4)}}%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="{{criptomonedas[4].image}}">
                                <h4>{{criptomonedas[4].symbol.toUpperCase()}}</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span> {{formatoPrecio(criptomonedas[4].current_price).toString().slice(3)}}</p>
                                <p>Ult. 24hs: {{criptomonedas[4].price_change_percentage_24h.toString().slice(0, 4)}}%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="{{criptomonedas[5].image}}">
                                <h4>{{criptomonedas[5].symbol.toUpperCase()}}</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span> {{formatoPrecio(criptomonedas[5].current_price).toString().slice(3)}}</p>
                                <p>Ult. 24hs: {{criptomonedas[5].price_change_percentage_24h.toString().slice(0, 4)}}%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="{{criptomonedas[6].image}}">
                                <h4>{{criptomonedas[6].symbol.toUpperCase()}}</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span> {{formatoPrecio(criptomonedas[6].current_price).toString().slice(1)}}</p>
                                <p>Ult. 24hs: {{criptomonedas[6].price_change_percentage_24h.toString().slice(0, 4)}}%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="{{criptomonedas[7].image}}">
                                <h4>{{criptomonedas[7].symbol.toUpperCase()}}</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span> {{formatoPrecio(criptomonedas[7].current_price).toString().slice(1)}}</p>
                                <p>Ult. 24hs: {{criptomonedas[7].price_change_percentage_24h.toString().slice(0, 4)}}%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="{{criptomonedas[8].image}}">
                                <h4>{{criptomonedas[8].symbol.toUpperCase()}}</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span> {{formatoPrecio(criptomonedas[8].current_price).toString().slice(1)}}</p>
                                <p>Ult. 24hs: {{criptomonedas[8].price_change_percentage_24h.toString().slice(0, 4)}}%</p>
                            </div>
                        </div>

                        <div class="cards">
                            <div class="card-logo-nombre">
                                <img src="{{criptomonedas[9].image}}">
                                <h4>{{criptomonedas[9].symbol.toUpperCase()}}</h4>
                            </div>
                            <div class="card-precio">
                                <p><span class="span0">$</span> {{formatoPrecio(criptomonedas[9].current_price).toString().slice(1)}}</p>
                                <p>Ult. 24hs: {{criptomonedas[9].price_change_percentage_24h.toString().slice(0, 4)}}%</p>
                            </div>
                        </div>










                                                
                    </div>
        
        
        
        
        
        
                    <div class="swap sticky-top">
                        <h3>SWAP</h3>
                        <div class="swap-moneda-arriba">
                            <div>
                                <img src="../../assets/logo-peso.png">
                                <p>Peso Argentino</p>
                            </div>
        
                            <input type="number" id="peso-arg" >
                        </div>
        
                        <i class="fas fa-exchange-alt awesome"></i>
        
                        <div class="swap-moneda-abajo">
                            <div>
                                <img src="../../assets/tether-usdt-logo.svg">
                                <p>USDT</p>
                            </div>
                            <input type="number" id="dolares">
                        </div>
                        <button class="btn-confirmar-swap">
                            <p>Confirmar transacción</p>
                        </button>
                    </div>
                </div>
        
            </div>
        </article>
    

    
    </div>
</div>
<app-footer></app-footer>

