:root {
    --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
    --gradiente-nuevo: linear-gradient(85deg, #007ad8, #004F8A);
    --lightblue: #004F8A;
    --texto-resalta:#989dff;
    --purple: purple;
    --text-color: #f8f9fc;
    --fondo-body: #1a1b3f;
    --fondo-oscuro:#0e0c2d;
    --fondo-claro: #43456d;
    --color-danger: #9F1317;
}

.caja-balance-saldo {
    color: var(--text-color);
    width: 10rem;
    border-radius: 20%;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.404);
    padding: 2rem;
    height: 10rem;
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2rem;
}

.badge {
    color: var(--fondo-oscuro);
    font-size: 1rem;
    font-weight: 500;
}

.contenedor-swap {
    background-color: var(--fondo-body);
    display: flex;
    flex-direction: column;
}

.div-swap-compra {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    

}

.contenedor-column-no-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 100%;
}

.grid-cripto-cotizaciones {
    color: var(--fondo-oscuro);
    width: 100%;
}

.cards img {
    width: 30px;
    height: 30px;
    margin: 0 .5rem 0 0;
}

.market-down {
    /* color: #DA1212; */
    color: #FF0075;
    font-weight: bold;
}

.market-up {
    /* color: #39A388; */
    color: #77D970;
    font-weight: bold;
}

.span-positivo {
    color: green;
}

.span- {
    color: red;
}

.contenedor-cripto-cotizacion {
    background: var(--text-color);
    backdrop-filter: blur( 4px );
    width: 20%;
    border-radius: 10px;
    padding-top: 1rem;
    margin:1rem 2rem;
}

.grid-cripto-cotizaciones h2 {
    color: var(--text-color);
}

.visite-wallet {
    color: var(--text-color);
}

.cards-cripto-cotizaciones {
    width: 100%;
}

.contenedor-cards-swap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swap {
    width: 45%;
    height: auto;
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1.5rem;
    margin: 3rem 0 ;
}

.swap h3 {
    color:var(--text-color);
    padding: 2rem 0 1rem 0;
}

.swap-moneda-arriba , .swap-moneda-abajo {
    width: 90%;
    height: 35%;
    background: var(--text-color);
    backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    overflow: hidden;
    margin: 1rem 0;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
    
}

.swap-moneda-arriba img, .swap-moneda-abajo img {
    width: 40px;
    margin: .5rem 0 0 .5rem;
}

.swap-moneda-arriba p, .swap-moneda-abajo p {
    font-size: 1.5rem;
    color: var(--nuevo-texto);
    margin: 0 0 0 1rem;
}

.swap-moneda-arriba div, .swap-moneda-abajo div {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    padding: 1rem 0;
}

.swap-moneda-arriba input, .swap-moneda-abajo input {
    background-color:#ffffff57;
    height: 3rem;
    border: none;
}

.btn-confirmar-swap {
    width: 90%;
    height: 3rem;
    background: var(--texto-resalta);
    color: var(--text-color);
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.75);
}

.awesome {
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
} 

  article {
      width: 100%;
  } 

  .contenedor-cards {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 0 3rem;
  }

  .cards {
      width: 10rem;
      height: 10rem;
      border-radius: 20%;
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.404);
      margin: 1rem;
      color: var(--text-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 500ms ease-out;    
  }

  .cards:hover {
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,1);
  }

  .card-logo-nombre {
      display: flex;
      flex-direction: row;
      margin: 1rem 0;
      
  }

  .span0 {
      color: var(--texto-resalta);
  }

  

  .div-balance {
    background-color: var(--fondo-oscuro);
    height: 30vh;
    padding: 3rem 0 0 2rem;
    color: var(--text-color);
    margin: 0 0 2rem 0;
}

.div-balance a {
    color: var(--texto-resalta);
    text-decoration: none;
}

/* Phone landscape + portrait (iphone x) */
@media (min-width: 321px) and (max-width: 480px) {

    
    .contenedor-swap {
        background-color: var(--fondo-body);
        display: flex;
        flex-direction: row;
    }

    article {
        margin-top: 80px;
    }
    
    
    .div-swap-compra {
        display: flex;
        flex-direction:column;
        width: auto;
        align-items: left;
        justify-content: space-around;
    }
        
    .contenedor-column-no-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    
    .grid-cripto-cotizaciones {
        color: var(--fondo-oscuro);
        width: 100%;
    }
    
    .cards img {
        width: 30px;
        height: 30px;
        margin: 0 .5rem 0 0;
    }
    
    .market-down {
        /* color: #DA1212; */
        color: #FF0075;
        font-weight: bold;
    }
    
    .market-up {
        /* color: #39A388; */
        color: #77D970;
        font-weight: bold;
    }
    
    .span-positivo {
        color: green;
    }
    
    .span- {
        color: red;
    }
    
    .contenedor-cripto-cotizacion {
        background: var(--text-color);
        backdrop-filter: blur( 4px );
        width: 20%;
        border-radius: 10px;
        padding-top: 1rem;
        margin:1rem 2rem;
    }
    
    .grid-cripto-cotizaciones h2 {
        color: var(--text-color);
    }
    
    .visite-wallet {
        color: var(--text-color);
    }
    
    .cards-cripto-cotizaciones {
        width: 100%;
    }
    
    .contenedor-cards-swap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    
    .awesome {
        font-size: 2rem;
    } 
    
    
      .contenedor-cards {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items:left;
          justify-content: left;
          padding: 0 ;
      }
    
      .cards {
          width: 9rem;
          height: 9rem;
          margin: 1rem 0 1rem 2rem ;
      }
    
      .card-logo-nombre h4 {
          font-size: 1.3rem;
      }

      
    
      
    
      .div-balance {
        height: 30vh;
        padding: 3rem 0 0 2rem;
        width:100%;
        margin: 0 0 2rem 0;
    }

    .div-balance p, .div-balance h3 {
        width: 90%;
    }

    .div-balance h3 {
        font-size: 1.5rem;
    }

    .div-balance p {
        font-size: 1.2rem;
        line-height: 2rem;
        color: #babec9;
    }

    .swap {
        width: 100%;
        height: auto;
        background: rgba( 0, 0, 0, 0.5 );
        box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        padding-bottom: 1.5rem;
        margin: 3rem 0 ;
    }
    
    .swap h3 {
        color:var(--text-color);
        padding: 2rem 0 1rem 0;
        font-size: 1.5rem;
    }
    
    .swap-moneda-arriba , .swap-moneda-abajo {
        width: 90%;
        height: 35%;
        background: var(--text-color);
        backdrop-filter: blur( 5.5px );
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        overflow: hidden;
        margin: 1rem 0;
        box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
        
    }
    
    .swap-moneda-arriba img, .swap-moneda-abajo img {
        width: 40px;
        margin: .5rem 0 0 .5rem;
    }
    
    .swap-moneda-arriba p, .swap-moneda-abajo p {
        font-size: 1.5rem;
        color: var(--nuevo-texto);
        margin: 0 0 0 1rem;
    }
    
    .swap-moneda-arriba div, .swap-moneda-abajo div {
        display: flex;
        flex-direction: row;
        justify-content:left;
        align-items: center;
        padding: 1rem 0;
    }
    
    .swap-moneda-arriba input, .swap-moneda-abajo input {
        background-color:#ffffff57;
        height: .5rem;
        border: none;
    }
    
    
}

/* Small tablet portrait con aprox 800 de Height */
@media (min-width: 481px) and (max-width: 600px) {

    .contenedor-swap {
        background-color: var(--fondo-body);
        display: flex;
        flex-direction: row;
    }

    article {
        margin-top: 80px;
    }
    
    
    .div-swap-compra {
        display: flex;
        flex-direction:column;
        width: auto;
        align-items: left;
        justify-content: space-around;
    }
        
    .contenedor-column-no-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    
    .grid-cripto-cotizaciones {
        color: var(--fondo-oscuro);
        width: 100%;
    }
    
    .cards img {
        width: 30px;
        height: 30px;
        margin: 0 .5rem 0 0;
    }
    
    .market-down {
        /* color: #DA1212; */
        color: #FF0075;
        font-weight: bold;
    }
    
    .market-up {
        /* color: #39A388; */
        color: #77D970;
        font-weight: bold;
    }
    
    .span-positivo {
        color: green;
    }
    
    .span- {
        color: red;
    }
    
    .contenedor-cripto-cotizacion {
        background: var(--text-color);
        backdrop-filter: blur( 4px );
        width: 20%;
        border-radius: 10px;
        padding-top: 1rem;
        margin:1rem 2rem;
    }
    
    .grid-cripto-cotizaciones h2 {
        color: var(--text-color);
    }
    
    .visite-wallet {
        color: var(--text-color);
    }
    
    .cards-cripto-cotizaciones {
        width: 100%;
    }
    
    .contenedor-cards-swap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    
    .awesome {
        font-size: 2rem;
    } 
    
    
      .contenedor-cards {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items:left;
          justify-content: left;
          padding: 0 ;
      }
    
      .cards {
          width: 9rem;
          height: 9rem;
          margin: 1rem 0 1rem 2rem ;
      }
    
      .card-logo-nombre h4 {
          font-size: 1.3rem;
      }

      
    
      
    
      .div-balance {
        height: 30vh;
        padding: 3rem 0 0 2rem;
        width:100%;
        margin: 0 0 2rem 0;
    }

    .div-balance p, .div-balance h3 {
        width: 90%;
    }

    .div-balance h3 {
        font-size: 1.5rem;
    }

    .div-balance p {
        font-size: 1.2rem;
        line-height: 2rem;
        color: #babec9;
    }

    .div-swap-compra {
        width: 100%;
    }

    .swap {
        width: 80%;
        height: auto;
        background: rgba( 0, 0, 0, 0.5 );
        box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        padding-bottom: 1.5rem;
        margin: 3rem 0 ;
    }
    
    .swap h3 {
        color:var(--text-color);
        padding: 2rem 0 1rem 0;
        font-size: 1.5rem;
    }
    
    .swap-moneda-arriba , .swap-moneda-abajo {
        width: 90%;
        height: 35%;
        background: var(--text-color);
        backdrop-filter: blur( 5.5px );
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        overflow: hidden;
        margin: 1rem 0;
        box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
        
    }
    
    .swap-moneda-arriba img, .swap-moneda-abajo img {
        width: 40px;
        margin: .5rem 0 0 .5rem;
    }
    
    .swap-moneda-arriba p, .swap-moneda-abajo p {
        font-size: 1.5rem;
        color: var(--nuevo-texto);
        margin: 0 0 0 1rem;
    }
    
    .swap-moneda-arriba div, .swap-moneda-abajo div {
        display: flex;
        flex-direction: row;
        justify-content:left;
        align-items: center;
        padding: 1rem 0;
    }
    
    .swap-moneda-arriba input, .swap-moneda-abajo input {
        background-color:#ffffff57;
        height: .5rem;
        border: none;
    }
    
}

/* // Large tablet portrait (ipad) */
@media (min-width: 601px) and (max-width: 768px) {
    .contenedor-swap {
        background-color: var(--fondo-body);
        display: flex;
        flex-direction: row;
    }

    article {
        margin-top: 120px;
    }
    
    
    .div-swap-compra {
        display: flex;
        flex-direction:column;
        width: auto;
        align-items: left;
        justify-content: space-around;
    }
        
    .contenedor-column-no-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    
    .grid-cripto-cotizaciones {
        color: var(--fondo-oscuro);
        width: 100%;
    }
    
    .cards img {
        width: 40px;
        height: 40px;
        margin: 0 .5rem 0 0;
    }
    
    .market-down {
        /* color: #DA1212; */
        color: #FF0075;
        font-weight: bold;
    }
    
    .market-up {
        /* color: #39A388; */
        color: #77D970;
        font-weight: bold;
    }
    
    .span-positivo {
        color: green;
    }
    
    .span- {
        color: red;
    }
    
    .contenedor-cripto-cotizacion {
        background: var(--text-color);
        backdrop-filter: blur( 4px );
        width: 20%;
        border-radius: 10px;
        padding-top: 1rem;
        margin:1rem 2rem;
    }
    
    .grid-cripto-cotizaciones h2 {
        color: var(--text-color);
    }
    
    .visite-wallet {
        color: var(--text-color);
    }
    
    .cards-cripto-cotizaciones {
        width: 100%;
    }
    
    .contenedor-cards-swap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .btn-confirmar-swap {
        width: 90%;
        height: 3rem;

        border-radius: 5px;
        border: none;
        font-size: 1.3rem;
        box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.75);
    }
    
    .awesome {
        font-size: 2rem;
    } 
    
    
      .contenedor-cards {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items:left;
          justify-content: left;
          padding: 0 ;
      }
    
      .cards {
          width: 12rem;
          height: 12rem;
          margin: 1rem 0 1rem 2rem ;
      }
    
      .card-logo-nombre h4 {
          font-size: 1.5rem;
          margin: 0 0 2rem 0;
      }

      .card-precio p {
          font-size: 1.2rem;
      }
      
    
      .div-balance {
        height: 30vh;
        padding: 3rem 0 0 2rem;
        width:100%;
        margin: 0 0 2rem 0;
    }

    .div-balance p, .div-balance h3 {
        width: 90%;
    }

    .div-balance h3 {
        font-size: 1.5rem;
    }

    .div-balance p {
        font-size: 1.2rem;
        line-height: 2rem;
        color: #babec9;
    }

    .div-swap-compra {
        width: 100%;
    }

    .swap {
        width: 80%;
        height: auto;
        background: rgba( 0, 0, 0, 0.5 );
        box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        padding-bottom: 1.5rem;
        margin: 3rem 0 ;
    }
    
    .swap h3 {
        color:var(--text-color);
        padding: 2rem 0 1rem 0;
        font-size: 1.5rem;
    }
    
    .swap-moneda-arriba , .swap-moneda-abajo {
        width: 90%;
        height: 35%;
        background: var(--text-color);
        backdrop-filter: blur( 5.5px );
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        overflow: hidden;
        margin: 1rem 0;
        box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
        
    }
    
    .swap-moneda-arriba img, .swap-moneda-abajo img {
        width: 40px;
        margin: .5rem 0 0 .5rem;
    }
    
    .swap-moneda-arriba p, .swap-moneda-abajo p {
        font-size: 1.5rem;
        color: var(--nuevo-texto);
        margin: 0 0 0 1rem;
    }
    
    .swap-moneda-arriba div, .swap-moneda-abajo div {
        display: flex;
        flex-direction: row;
        justify-content:left;
        align-items: center;
        padding: 1rem 0;
    }
    
    .swap-moneda-arriba input, .swap-moneda-abajo input {
        background-color:#ffffff57;
        height: .5rem;
        border: none;
    }
}

/* // Notebook - Tablet Landscape + (ipad pro con aprox 1366 de H) */
@media (min-width: 769px) and (max-width: 1024px) {
    .contenedor-swap {
        background-color: var(--fondo-body);
        display: flex;
        flex-direction: row;
    }

    article {
        margin-top: 120px;
    }
    
    
    .div-swap-compra {
        display: flex;
        flex-direction:column;
        width: auto;
        align-items: left;
        justify-content: space-around;
    }
        
    .contenedor-column-no-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        width: 100%;
    }
    
    .grid-cripto-cotizaciones {
        color: var(--fondo-oscuro);
        width: 100%;
    }
    
    .cards img {
        width: 80px;
        height: 80px;
        margin: 0 .5rem 0 0;
    }
    
    .market-down {
        /* color: #DA1212; */
        color: #FF0075;
        font-weight: bold;
    }
    
    .market-up {
        /* color: #39A388; */
        color: #77D970;
        font-weight: bold;
    }
    
    .span-positivo {
        color: green;
    }
    
    .span- {
        color: red;
    }
    
    .contenedor-cripto-cotizacion {
        background: var(--text-color);
        backdrop-filter: blur( 4px );
        width: 20%;
        border-radius: 10px;
        padding-top: 1rem;
        margin:1rem 2rem;
    }
    
    .grid-cripto-cotizaciones h2 {
        color: var(--text-color);
    }
    
    .visite-wallet {
        color: var(--text-color);
    }
    
    .cards-cripto-cotizaciones {
        width: 100%;
    }
    
    .contenedor-cards-swap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .btn-confirmar-swap {
        width: 90%;
        height: 3rem;

        border-radius: 5px;
        border: none;
        font-size: 1.3rem;
        box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.75);
    }
    
    .awesome {
        font-size: 2rem;
    } 
    
    
      .contenedor-cards {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items:left;
          justify-content: left;
          padding: 0 ;
      }
    
      .cards {
          width: 18rem;
          height: 18rem;
          margin: 1rem 0 1rem 2rem ;
      }
    
      .card-logo-nombre h4 {
          font-size: 2.5rem;
          margin: 2rem 0 2rem 0;
      }


      .card-precio p {
          font-size: 2rem;
          line-height: 3rem;
      }
      
    
      .div-balance {
        height: 30vh;
        padding: 3rem 0 0 2rem;
        width:100%;
        margin: 0 0 2rem 0;
    }

    .div-balance p, .div-balance h3 {
        width: 90%;
    }

    .div-balance h3 {
        font-size: 2.5rem;
    }

    .div-balance p {
        font-size: 2rem;
        line-height: 3rem;
        color: #babec9;
    }

    .div-swap-compra {
        width: 100%;

    }

    .swap {
        width: 80%;
        height: 60rem;
        background: rgba( 0, 0, 0, 0.5 );
        box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
        backdrop-filter: blur( 6.5px );
        -webkit-backdrop-filter: blur( 6.5px );
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        padding-bottom: 1.5rem;
        margin: 3rem 0 ;
    }
    
    .swap h3 {
        color:var(--text-color);
        padding: 2rem 0 1rem 0;
        font-size: 2.5rem;
    }
    
    .swap-moneda-arriba , .swap-moneda-abajo {
        width: 90%;
        height: 10rem;
        background: var(--text-color);
        backdrop-filter: blur( 5.5px );
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        overflow: hidden;
        margin: 1rem 0;
        box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
        
    }
    
    .swap-moneda-arriba img, .swap-moneda-abajo img {
        width: 40px;
        margin: .5rem 0 0 .5rem;
    }
    
    .swap-moneda-arriba p, .swap-moneda-abajo p {
        font-size: 2rem;
        color: var(--nuevo-texto);
        margin: 0 0 0 1rem;
    }
    
    .swap-moneda-arriba div, .swap-moneda-abajo div {
        display: flex;
        flex-direction: row;
        justify-content:left;
        align-items: center;
        padding: 1rem 0;
    }
    
    .swap-moneda-arriba input, .swap-moneda-abajo input {
        background-color:#ffffff57;
        height: 1.5rem;
        border: none;
    }

    .btn-confirmar-swap {
        font-size: 2.5rem;
        padding: 2rem 0;
    }
}