:root {
    --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
    --gradiente-nuevo: linear-gradient(85deg, #007ad8, #004F8A);
    --lightblue: #004F8A;
    --texto-resalta:#989dff;
    --purple: purple;
    --text-color: #f8f9fc;
    --fondo-body: #1a1b3f;
    --fondo-oscuro:#0e0c2d;
    --fondo-claro: #43456d;
    --color-danger: #9F1317;
}


.contenedor-swap {
    background-color: var(--fondo-body);
    display: flex;
    flex-direction: row;
}

.div-swap-compra {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    

}

.contenedor-column-no-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 100%;
}

.grid-cripto-cotizaciones {
    color: var(--fondo-oscuro);
    width: 100%;
}

.cards img {
    width: 30px;
    height: 30px;
    margin: 0 .5rem 0 0;
}

.market-down {
    color: #9E003C;
    font-weight: bold;
}

.span-positivo {
    color: green;
}

.span- {
    color: red;
}

.contenedor-cripto-cotizacion {
    background: var(--text-color);
    backdrop-filter: blur( 4px );
    width: 20%;
    border-radius: 10px;
    padding-top: 1rem;
    margin:1rem 2rem;
}

.grid-cripto-cotizaciones h2 {
    color: var(--text-color);
}

.visite-wallet {
    color: var(--text-color);
}

.cards-cripto-cotizaciones {
    width: 100%;
}

.contenedor-cards-swap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swap {
    width: 45%;
    height: auto;
    background: rgba( 0, 0, 0, 0.5 );
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1.5rem;
    margin: 3rem 0 ;
}

.swap h3 {
    color:var(--text-color);
    padding: 2rem 0 1rem 0;
}

.swap-moneda-arriba , .swap-moneda-abajo {
    width: 90%;
    height: 35%;
    background: var(--text-color);
    backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    overflow: hidden;
    margin: 1rem 0;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.75);
    
}

.swap-moneda-arriba img, .swap-moneda-abajo img {
    width: 40px;
    margin: .5rem 0 0 .5rem;
}

.swap-moneda-arriba p, .swap-moneda-abajo p {
    font-size: 1.5rem;
    color: var(--nuevo-texto);
    margin: 0 0 0 1rem;
}

.swap-moneda-arriba div, .swap-moneda-abajo div {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    padding: 1rem 0;
}

.swap-moneda-arriba input, .swap-moneda-abajo input {
    background-color:#ffffff57;
    height: 3rem;
    border: none;
}

.btn-confirmar-swap {
    width: 90%;
    height: 3rem;
    background: var(--lightblue);
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.75);
}

.awesome {
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
} 

  article {
      width: 100%;
  } 

  .contenedor-cards {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 0 3rem;
  }

  .cards {
      width: 10rem;
      height: 10rem;
      border-radius: 20%;
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.404);
      margin: 1rem;
      color: var(--text-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 500ms ease-out;    
  }

  .cards:hover {
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,1);
  }

  .card-logo-nombre {
      display: flex;
      flex-direction: row;
      margin: 1rem 0;
      
  }

  .span0 {
      color: var(--texto-resalta);
  }

  

  .div-balance {
    background-color: var(--fondo-oscuro);
    height: 30vh;
    padding: 3rem 0 0 2rem;
    color: var(--text-color);
    margin: 0 0 2rem 0;
}

.div-balance a {
    color: var(--texto-resalta);
    text-decoration: none;
}
