
<section>
    <app-navbar-lateral></app-navbar-lateral>
    <article class="wallet">
        <div class="div-balance">
            <h3>BALANCE TOTAL</h3>
            <p>$00.000</p>
<!--Ingresar CBU-->

    <form [formGroup]="formCbu" (ngSubmit)="onEnviarCbu($event)">
    <div class="input-group mb-3">
        <h4 class="text-center">Ingresa tu CBU </h4>
        <input type="number" formControlName="cbu" class="form-control" [class.border-danger]="CbuValid" id="Cbu" placeholder="">
        <button class="btn btn-primary" type="submit" id="btnCbu">Enviar</button>
        <div *ngIf="Cbu?.errors && Cbu?.touched || Cbu?.dirty">
            <p *ngIf="Cbu?.hasError('required')" class="text-danger">
              Campo obligatorio.
            </p>
        </div>
    </div>
</form>
  <!--Hasta acá CBU-->
        </div>



        <div class="contenedor-wallet">


            <div class="wallet-titulos">
                <div class="div-titulo-moneda"><h4 class="titulo">MONEDA</h4></div>
                <div class="div-titulo-total"><h4 class="titulo">TOTAL</h4></div>
                <div class="div-titulo-valor"><h4 class="titulo">VALOR</h4></div>
                <div class="div-titulo-accion"><h4 class="titulo">ACCIÓN</h4></div>
            </div>


<!-- BITCOIN -->
            <div class="cripto">
                <div class="nombre-cripto">
                    <img src="../../assets/bitcoin-btc-logo.svg" class="logo-cripto" alt="">
                    <div class="nombre-abreviatura">
                        <h4>Bitcoin</h4>
                        <h5>BTC</h5>
                    </div>
                </div>
                <div class="total-cripto">
                    <h4 class="titulo">$00.000</h4>
                </div>
                <div class="valor-cripto">
                    <h4 class="titulo">$40.000</h4>
                </div>
                <div class="accion-cripto">
                    <p>Comprar</p>
                    <p>Depositar</p>
                    <p>Retirar</p>
                </div>
            </div>

<!-- DOGE -->
            <div class="cripto">
                <div class="nombre-cripto">
                    <img src="../../assets/dogecoin-doge-logo.svg" class="logo-cripto" alt="">
                    <div class="nombre-abreviatura">
                        <h4>Doge Coin</h4>
                        <h5>DOGE</h5>
                    </div>
                </div>
                <div class="total-cripto">
                    <h4 class="titulo">$00.000</h4>
                </div>
                <div class="valor-cripto">
                    <h4 class="titulo">$40.000</h4>
                </div>
                <div class="accion-cripto">
                    <p>Comprar</p>
                    <p>Depositar</p>
                    <p>Retirar</p>
                </div>
            </div>

<!-- BNB -->
            <div class="cripto">
                <div class="nombre-cripto">
                    <img src="../../assets/binance-coin-bnb-logo.svg" class="logo-cripto" alt="">
                    <div class="nombre-abreviatura">
                        <h4>Binance Coin</h4>
                        <h5>BNB</h5>
                    </div>
                </div>
                <div class="total-cripto">
                    <h4 class="titulo">$00.000</h4>
                </div>
                <div class="valor-cripto">
                    <h4 class="titulo">$40.000</h4>
                </div>
                <div class="accion-cripto">
                    <p>Comprar</p>
                    <p>Depositar</p>
                    <p>Retirar</p>
                </div>
            </div>

<!-- CARDANO -->
            <div class="cripto">
                <div class="nombre-cripto">
                    <img src="../../assets/cardano-ada-logo.svg" class="logo-cripto" alt="">
                    <div class="nombre-abreviatura">
                        <h4>Cardano</h4>
                        <h5>ADA</h5>
                    </div>
                </div>
                <div class="total-cripto">
                    <h4 class="titulo">$00.000</h4>
                </div>
                <div class="valor-cripto">
                    <h4 class="titulo">$40.000</h4>
                </div>
                <div class="accion-cripto">
                    <p>Comprar</p>
                    <p>Depositar</p>
                    <p>Retirar</p>
                </div>
            </div>
<!-- ETHEREUM -->
            <div class="cripto">
                <div class="nombre-cripto">
                    <img src="../../assets/ethereum-eth-logo.svg" class="logo-cripto" alt="">
                    <div class="nombre-abreviatura">
                        <h4>Ethereum</h4>
                        <h5>ETH</h5>
                    </div>
                </div>
                <div class="total-cripto">
                    <h4 class="titulo">$00.000</h4>
                </div>
                <div class="valor-cripto">
                    <h4 class="titulo">$40.000</h4>
                </div>
                <div class="accion-cripto">
                    <p>Comprar</p>
                    <p>Depositar</p>
                    <p>Retirar</p>
                </div>
            </div>
<!-- DAI -->
            <div class="cripto">
                <div class="nombre-cripto">
                    <img src="../../assets/multi-collateral-dai-dai-logo.svg" class="logo-cripto" alt="">
                    <div class="nombre-abreviatura">
                        <h4>DAI</h4>
                        <h5>DAI</h5>
                    </div>
                </div>
                <div class="total-cripto">
                    <h4 class="titulo">$00.000</h4>
                </div>
                <div class="valor-cripto">
                    <h4 class="titulo">$40.000</h4>
                </div>
                <div class="accion-cripto">
                    <p>Comprar</p>
                    <p>Depositar</p>
                    <p>Retirar</p>
                </div>
            </div>
<!-- SOLANA -->
            <div class="cripto">
                <div class="nombre-cripto">
                    <img src="../../assets/solana-sol-logo.svg" class="logo-cripto" alt="">
                    <div class="nombre-abreviatura">
                        <h4>Solana</h4>
                        <h5>SOL</h5>
                    </div>
                </div>
                <div class="total-cripto">
                    <h4 class="titulo">$00.000</h4>
                </div>
                <div class="valor-cripto">
                    <h4 class="titulo">$40.000</h4>
                </div>
                <div class="accion-cripto">
                    <p>Comprar</p>
                    <p>Depositar</p>
                    <p>Retirar</p>
                </div>
            </div>
<!-- SLP -->
            <div class="cripto">
                <div class="nombre-cripto">
                    <img src="../../assets/smooth-love-potion-slp-logo.svg" class="logo-cripto" alt="">
                    <div class="nombre-abreviatura">
                        <h4>Smooth Love Potion</h4>
                        <h5>SLP</h5>
                    </div>
                </div>
                <div class="total-cripto">
                    <h4 class="titulo">$00.000</h4>
                </div>
                <div class="valor-cripto">
                    <h4 class="titulo">$40.000</h4>
                </div>
                <div class="accion-cripto">
                    <p>Comprar</p>
                    <p>Depositar</p>
                    <p>Retirar</p>
                </div>
            </div>

<!-- USDT -->
            <div class="cripto">
                <div class="nombre-cripto">
                    <img src="../../assets/tether-usdt-logo.svg" class="logo-cripto" alt="">
                    <div class="nombre-abreviatura">
                        <h4>Theter usd</h4>
                        <h5>USDT</h5>
                    </div>
                </div>
                <div class="total-cripto">
                    <h4 class="titulo">$00.000</h4>
                </div>
                <div class="valor-cripto">
                    <h4 class="titulo">$40.000</h4>
                </div>
                <div class="accion-cripto">
                    <p>Comprar</p>
                    <p>Depositar</p>
                    <p>Retirar</p>
                </div>
            </div>


        </div>
    </article>  
</section>