<div class="dashboard"> 
    <app-navbar-lateral></app-navbar-lateral>
    <div class="contenedor-del-resto-menos-nav">
        <app-card-info-cripto></app-card-info-cripto>


        <section>
            <!-- ARTICLE TITULO IMG -->
            <article class="article-cripto-img">
                <div class="contenedor-article-cripto">
                    <img src="../../assets/criptomomnedas.png" alt="" class="png-criptos">
                    <div class="div-article-cripto-texto">
                        <h3 class="titulo-h3-maneja-cripto">Maneja tus cripto con sencillos pasos</h3>
                        <p class="parrafo-maneja-cripto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
                            voluptates
                            quam libero, vero excepturi molestiae ratione fugiat omnis quisquam neque ipsam porro adipisci
                            obcaecati aut
                            itaque doloremque inventore facere commodi?</p>
                    </div>
                </div>
        
        
            </article>
        
        
        
            <!-- ARTICLE TABLA INFORMATIVA -->
            <article>
        
            </article>
        </section>

    </div>

</div>