<section class="dashboard"> 

    <app-navbar-lateral></app-navbar-lateral>

    <article class="dashboard-propio">

        <div class="div-dashboard-izq">

            <div class="div-sup-doble">
                <!-- DIV SUP IZQ -->
                <div class="div-sup-izq">

                    <div class="titulo-sup-izq">
                        <img src="../../assets/monedas.png" class="monedas-sup-izq">
                        <h3>Balance</h3>
                        <i class="fas fa-angle-double-down"></i>
                    </div>


                    <div class="cripto-sup-izq">

                        <div class="criptos-sup-izq">
                            <div>
                                <img src="../../assets/bitcoin-btc-logo.svg" class="logo-btc-sup-izq">
                                <h3 class="titulo-balance">Bitcoin balance</h3>
                            </div>
                            <p class="parrafo-numero-sup-izq">35135</p>
                            
                        </div>
                        
                        <div class="criptos-sup-izq">
                            <div>
                                <img src="../../assets/binance-coin-bnb-logo.svg" class="logo-btc-sup-izq">
                                <h3 class="titulo-balance">Bnb balance</h3>
                            </div>
                            <p class="parrafo-numero-sup-izq">15234</p>
                            
                        </div>
                        
                    </div>


                  
                </div>
                
                
                <!-- DIV SUP DER -->
                <div class="div-sup-der overflow-auto">
                    <div class="titulo-sup-der sticky-top">
                        <img src="../../assets/dogecoin-doge-logo.svg" class="monedas-sup-der">
                        <h3>Market hoy</h3>
                    </div>
                    
                    <mat-grid-list cols="1" rowHeight="3:0.9" gutterSize="0px" >
                           <mat-grid-tile  *ngFor="let moneda of criptomonedas">
                               <div class="div-market-hoy">
                                   <img src="{{moneda.image}}" class="svg-market">
                                   <h3>{{moneda.symbol | uppercase}}</h3>
                                   <p>{{moneda.price_change_percentage_24h.toString().slice(0, 4)}}%</p>
                               </div>
                           </mat-grid-tile>
                    </mat-grid-list>

                </div>


                <!-- <div class="div-sup-der"> -->
                    <!-- <div class="titulo-sup-der"> -->
                    <!--     <img src="../../assets/dogecoin-doge-logo.svg" class="monedas-sup-der"> -->
                    <!--     <h3>Market hoy</h3> -->
                    <!-- </div> -->
                    <!-- <div class="div-market-hoy"> -->
                    <!--     <img src="../../assets/bitcoin-btc-logo.svg" class="svg-market"> -->
                    <!--     <h3>BTC</h3> -->
                    <!--     <p>+3.5</p> -->
                    <!-- </div> -->
                    <!-- <div class="div-market-hoy"> -->
                    <!--     <img src="../../assets/binance-coin-bnb-logo.svg" class="svg-market"> -->
                    <!--     <h3>BNB</h3> -->
                    <!--     <p>+8.6</p> -->
                    <!-- </div> -->
                    <!-- <div class="div-market-hoy"> -->
                    <!--     <img src="../../assets/solana-sol-logo.svg" class="svg-market"> -->
                    <!--     <h3>SOL</h3> -->
                    <!--     <p>+1.2</p> -->
                    <!-- </div> -->
                    <!--  -->
                <!-- </div> -->
            </div>



            <div class="div-botones">
                <button class="testbutton">Wallet</button>
                <button class="testbutton">Swap</button>
            </div>
            

            <!-- DIV INF DOBLE -->
            <div class="div-inf-doble">
                <h3>Últimos movimientos</h3>
                <table class="table-movimientos">
                    <tr class="tr-th">
                        <th class="table-tr-th">Fecha</th>
                        <th class="table-tr-th">Tipo de transacción</th>
                        <th class="table-tr-th">Comisión</th>
                        <th class="table-tr-th">Monto</th>
                    </tr>
                    <tr class="table-tr">
                        <td>15/02/2022</td>
                        <td>Deposito</td>
                        <td>0.00003 BTC</td>
                        <td>30 BTC</td>
                    </tr>
                    <tr class="table-tr">
                        <td>11/02/2022</td>
                        <td>Transferencia</td>
                        <td>0</td>
                        <td>14131 ARS</td>
                    </tr>
                    <tr class="table-tr">
                        <td>15/02/2022</td>
                        <td>Deposito</td>
                        <td>0.00003 BTC</td>
                        <td>30 BTC</td>
                    </tr>
                    <tr class="table-tr">
                        <td>11/02/2022</td>
                        <td>Transferencia</td>
                        <td>0</td>
                        <td>14131 ARS</td>
                    </tr>
                </table>
            </div>


        </div>

        <div class="div-dashboard-der">
            <div class="div-derecho">
                <h3>TRENDING CRIPTO NEWS</h3>
                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/wo.png" alt="" class="news-img">
                    <div class="news-text">
                        <h4>Bitcoin supera los $58.000 con la atención puesta en Ómicron y el..</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>
                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/precio_bitcoin.jpeg" alt="" class="news-img">
                    <div class="news-text">
                        <h4>Bitcoin: cuáles son las razones de que su precio suba o baje</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>
                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/GALA.png" alt="" class="news-img">
                    <div class="news-text">
                        <h4>GALA se dispara 20% y lidera las subidas de tokens del metaverso</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>

                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/wo.png" alt="" class="news-img">
                    <div class="news-text">
                        <h4>Bitcoin supera los $58.000 con la atención puesta en Ómicron y el..</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>
                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/precio_bitcoin.jpeg" alt="" class="news-img">
                    <div class="news-text">
                        <h4>Bitcoin: cuáles son las razones de que su precio suba o baje</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>
                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/GALA.png" alt="" class="news-img">
                    <div class="news-text">
                        <h4>GALA se dispara 20% y lidera las subidas de tokens del metaverso</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>
                
                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/wo.png" alt="" class="news-img">
                    <div class="news-text">
                        <h4>Bitcoin supera los $58.000 con la atención puesta en Ómicron y el..</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>
                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/precio_bitcoin.jpeg" alt="" class="news-img">
                    <div class="news-text">
                        <h4>Bitcoin: cuáles son las razones de que su precio suba o baje</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>
                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/GALA.png" alt="" class="news-img">
                    <div class="news-text">
                        <h4>GALA se dispara 20% y lidera las subidas de tokens del metaverso</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>

                
            </div>
        </div>
    </article>
    
</section>

<app-footer></app-footer>
