<section class="dashboard"> 

    <!-- <app-navbar-lateral></app-navbar-lateral> -->
    <app-header></app-header>

    <article class="dashboard-propio">

        <div class="div-dashboard-izq">

            <div class="div-sup-doble">
                <!-- DIV SUP IZQ -->
                <div class="div-sup-izq">

                    <div class="titulo-sup-izq">
                        
                        <h3>Balance</h3>
                        
                    </div>


                    <div class="cripto-sup-izq">

                        <div class="criptos-sup-izq">
                            <div>
                                <img src="../../assets/bitcoin-btc-logo.svg" class="logo-btc-sup-izq">
                                <h3 class="titulo-balance">Bitcoin balance</h3>
                            </div>
                            <p class="parrafo-numero-sup-izq">35135</p>
                            
                        </div>
                        
                        <div class="criptos-sup-izq">
                            <div>
                                <img src="../../assets/binance-coin-bnb-logo.svg" class="logo-btc-sup-izq">
                                <h3 class="titulo-balance">Bnb balance</h3>
                            </div>
                            <p class="parrafo-numero-sup-izq">15234</p>
                            
                        </div>
                        
                    </div>


                  
                </div>
                
                
                <!-- DIV SUP DER -->
                <div class="div-sup-der ">
                    <div class="titulo-sup-der">
                        
                        <h3>Market hoy</h3>
                    </div>
                    
                   
                               <div class="div-market-hoy">
                                   <img src="{{criptomonedas[0].image}}" class="svg-market">
                                   <h3>{{criptomonedas[0].symbol | uppercase}}</h3>
                                   <p *ngIf="criptomonedas[0].price_change_percentage_24h < 0"><span class="market-down">{{criptomonedas[0].price_change_percentage_24h.toString().slice(0, 5)}}</span> %</p>
                                   <p *ngIf="criptomonedas[0].price_change_percentage_24h > 0"><span class="market-up">{{criptomonedas[0].price_change_percentage_24h.toString().slice(0, 5)}}</span> %</p>
                               </div>

                            <div class="div-market-hoy">
                                <img src="{{criptomonedas[1].image}}" class="svg-market">
                                <h3>{{criptomonedas[1].symbol | uppercase}}</h3>
                                <p *ngIf="criptomonedas[1].price_change_percentage_24h < 0"><span class="market-down">{{criptomonedas[1].price_change_percentage_24h.toString().slice(0, 5)}}</span> %</p>
                                <p *ngIf="criptomonedas[1].price_change_percentage_24h > 0"><span class="market-up">{{criptomonedas[1].price_change_percentage_24h.toString().slice(0, 5)}}</span> %</p>
                            </div>

                            <div class="div-market-hoy">
                                <img src="{{criptomonedas[2].image}}" class="svg-market">
                                <h3>{{criptomonedas[2].symbol | uppercase}}</h3>
                                <p *ngIf="criptomonedas[2].price_change_percentage_24h < 0"><span class="market-down">{{criptomonedas[2].price_change_percentage_24h.toString().slice(0, 5)}}</span> %</p>
                                <p *ngIf="criptomonedas[2].price_change_percentage_24h > 0"><span class="market-up">{{criptomonedas[2].price_change_percentage_24h.toString().slice(0, 5)}}</span> %</p>
                            </div>
                           

                </div>

            </div>



            
            

            <!-- DIV INF DOBLE -->
            <div class="div-inf-doble">
                
                    <h4>WALLET, SWAP, CRIPTO</h4>
                    <p>Quiere consultar sus últimos movimientos?<br> Quiere comprar, vender o intercambiar sus cripto?<br> Quiere consultar su balance total o individual de cada cripto? <br> Quiere acceder mayor información sobre sus criptomonedas favoritas? </p>
        
                    <div class="div-botones"> 
                        <button class="testbutton"><a [routerLink]="['../billetera']">Billetera</a></button>
                        <button class="testbutton"><a [routerLink]="['../swap']">Comerciar</a></button>
                        <button class="testbutton"><a [routerLink]="['../criptos']">Mercado Crypto</a></button>
                    </div>
                
                
            </div>

            
        </div>

        <div class="div-dashboard-der">
            <div class="div-derecho">
                <h3>TRENDING CRIPTO NEWS</h3>
                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/wo.png" alt="" class="news-img">
                    <div class="news-text">
                        <h4>Bitcoin y la guerra..</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>
                <div class="news">
                    <img src="https://cmswagtail.s3.amazonaws.com/original_images/precio_bitcoin.jpeg" alt="" class="news-img">
                    <div class="news-text">
                        <h4>Bitcoin: cuáles son las razones de que su precio suba o baje</h4>
                        <p>Publicado en <span>Coindesk</span></p>
                    </div>
                </div>
                <p>Para consultar más noticias los invitamos a la <a class="link-news" [routerLink]="['../criptos']"> seccion de mercado crypto</a> o la pagina de <a class="link-news" href="coindesk.com" target="blank">Coindesk</a></p>

                
                
                
            </div>
        </div>
    </article>
    
</section>


<app-footer></app-footer>