:root {
    --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
    --gradiente-nuevo: linear-gradient(85deg, #007ad8, #004F8A);
    --lightblue: #004F8A;
    --texto-resalta:#0091ff;
    --darkblue: #ef5777;
    --text-color: #d5e1ef;
    --nuevo-fondo-body: #282A4C;
    --nuevo-oscuro: #c9d1ff;
    --nuevo-claro: #26284E;
    --nuevo-texto: #dfe2eb;
    --color-gris:#27262C;
}



.nav-dashboard {
    width: 250px;
    background-color: var(--nuevo-oscuro);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    /* box-shadow: 2px 0 6px 0px rgba(0,0,0,0.75); */
    
    position: sticky;
    top: 0;
    padding-right: 1rem;
}

.logo-nav-principal {
    width: 80px;
}

.div-nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 0;
}

.div-nav-logo h3 {
    color: var(--nuevo-texto);
    margin: 1rem 0 0 0;
}

.nav__link{
    color: #dfe2eb;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: var(--nuevo-claro);
}

.list{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    padding: 0 5px;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid var(--nuevo-claro);
    list-style: none;
    transition: height .4s;
    height: 0;
}

input[type="checkbox"] {
	visibility: hidden;
	
}

input[type="checkbox"]:checked + label {
		transform: rotate(360deg);
		background-color: #000;
		
	}

input[type="checkbox"]:checked + label:before {
			transform: translateX(45px);
			background-color: #FFF;
		}


label {
	display: flex;
	width: 90px;
	height: 45px;
	border: 3px solid #004F8A;
	border-radius: 45em;
	position: relative;
	transition: transform .75s ease-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;
}

label:before {
		transition: transform .75s ease;
		transition-delay: .5s;
		content: "";
		display: block;
		position: absolute;
		width: 27px;
		height: 27px;
		background-color:var(--nuevo-texto);
		border-radius: 50%;
		top: 6px;
		left: 6px;
	}

    /* PARTE DE PERFIL Y CERRAR */

    .lista-perfil-cerrar {
        width: 100%;
        height:auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 0 16px 16px 0;
        padding: 0 55px;
        list-style: none;
    }

    .link-perfil-cerrar {
        color:var(--text-color);
        text-decoration: none;
        
    }

    .item-perfil-cerrar {
        padding: 15px 0;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1em;
        overflow: hidden;
    }

    .awesome {
        font-size:1.2rem;
        color:var(--nuevo-texto);
    }



