
<section >
    <article class="quienes-somos" id="quienes-somos">
        <h3 class="titulo-h3">QUIENES SOMOS</h3>
        <h1>DEVELOPERS TEAM</h1>
        <p>Somos un equipo conformado por 4 developers cursando el curso de .NET dicatdo por el ISPC (instituto superior politecnico de Cordoba) en conjunto con el nodo tecnologico de Catamarca. En este curso aprendimos distintas tecnologias, metodologias y herramientas que nos son de utilidad para la creación de un exchange y para nuestra futura salida laboral.</p>

            
        <div class="contenedor-card">
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/ale-avatar.png" alt="Alejandro Ibañez">
                <h2>Alejandro Ibañez</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/maca-avatar.png" alt="Macarena Cerutti">
                <h2>Macarena Cerutti</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/aldo-avatar.png" alt="Aldo Fernández">
                <h2>Aldo Fernández</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>
        
            <div class="card-quienes-somos">
                <img class="avatar" src="../../assets/claudio-avatar.png" alt="Claudio Nieva">
                <h2>Claudio Nieva</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, architecto.</p>
            </div>

        </div>

        

    </article>
</section>
